Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

refactor(web): ♻📦 uninstall husky/lint-staged
  web/package-lock.json
  web/package.json
Due: azure-pipelines.web.yaml

refactor(archival): ♻ ren FilterLists.Archival -> FilterLists.Archival.Api
  .github/dependabot.yml
  services/FilterLists.sln
  services/archival/src/FilterLists.Archival.Api/Dockerfile
  services/archival/src/FilterLists.Archival.Api/Dockerfile.dev
  services/archival/src/FilterLists.Archival.Api/FilterLists.Archival.Api.csproj
  services/archival/src/FilterLists.Archival.Api/Program.cs
  services/archival/src/FilterLists.Archival.Api/Properties/launchSettings.json
  services/archival/src/FilterLists.Archival.Api/Startup.cs
Due: none

feat(archival): ✨ scaffold Application and Infrastructure projs
  .github/dependabot.yml
  services/FilterLists.sln
  services/archival/src/FilterLists.Archival.Api/Dockerfile
  services/archival/src/FilterLists.Archival.Api/Dockerfile.dev
  services/archival/src/FilterLists.Archival.Application/FilterLists.Archival.Application.csproj
  services/archival/src/FilterLists.Archival.Infrastructure/FilterLists.Archival.Infrastructure.csproj
Due: none

feat(directory): ✨ add az pipes configs to sln
  services/FilterLists.sln
Due: none

feat(archival): ✨ add MediatR
  services/archival/src/FilterLists.Archival.Api/Startup.cs
  services/archival/src/FilterLists.Archival.Application/FilterLists.Archival.Application.csproj
  services/archival/src/FilterLists.Archival.Application/ServiceCollectionExtension.cs
  services/archival/src/FilterLists.Archival.Infrastructure/FilterLists.Archival.Infrastructure.csproj
  services/archival/src/FilterLists.Archival.Infrastructure/ServiceCollectionExtension.cs
Due: none

feat(archival): ✨ add IArchiveFiles with git implementation
  .env
  services/archival/src/FilterLists.Archival.Api/Startup.cs
  services/archival/src/FilterLists.Archival.Application/ServiceCollectionExtension.cs
  services/archival/src/FilterLists.Archival.Infrastructure/FilterLists.Archival.Infrastructure.csproj
  services/archival/src/FilterLists.Archival.Infrastructure/Options/GitOptions.cs
  services/archival/src/FilterLists.Archival.Infrastructure/Persistence/GitFileArchiver.cs
  services/archival/src/FilterLists.Archival.Infrastructure/Persistence/IArchiveFile.cs
  services/archival/src/FilterLists.Archival.Infrastructure/Persistence/ServiceCollectionExtension.cs
  services/archival/src/FilterLists.Archival.Infrastructure/ServiceCollectionExtension.cs
Due: none

feat(archival): ✨ add Hangfire scheduling
  .env
  services/archival/src/FilterLists.Archival.Api/Startup.cs
  services/archival/src/FilterLists.Archival.Application/ServiceCollectionExtension.cs
  services/archival/src/FilterLists.Archival.Infrastructure/FilterLists.Archival.Infrastructure.csproj
  services/archival/src/FilterLists.Archival.Infrastructure/Persistence/ServiceCollectionExtension.cs
  services/archival/src/FilterLists.Archival.Infrastructure/Scheduling/ServiceCollectionExtension.cs
  services/archival/src/FilterLists.Archival.Infrastructure/ServiceCollectionExtension.cs
Due: none

feat(archival): ✨ add to docker compose
  .env
  docker-compose.override.yml
  docker-compose.prod.build.yml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

fix(archival): 🐛 fix redis connection string
  .env
Due: none

refactor(archival): ♻ don't expose ports to docker network until required
  services/archival/src/FilterLists.Archival.Api/Dockerfile
  services/archival/src/FilterLists.Archival.Api/Dockerfile.dev
Due: none

refactor(archival): ♻ change GitOptions to internal
  services/archival/src/FilterLists.Archival.Infrastructure/Options/GitOptions.cs
Due: none

refactor(directory): ♻ replace hard-coded connection string in seed test
  docker-compose.directory.migrations.tests.yml
  services/directory/tests/FilterLists.Directory.Infrastructure.Migrations.Tests/SeedQueryDbContextTest.cs
Due: none

refactor(directory): ♻ replace hard-coded migrations assembly name in seed test
  services/directory/tests/FilterLists.Directory.Infrastructure.Migrations.Tests/SeedQueryDbContextTest.cs
Due: none

Update FilterList.json
  services/directory/data/FilterList.json
Due: none

Update Syntax.json
  services/directory/data/Syntax.json
Due: none

Update FilterListViewUrl.json
  services/directory/data/FilterListViewUrl.json
Due: none

Update FilterListSyntax.json
  services/directory/data/FilterListSyntax.json
Due: none

Add files via upload
  web/src/components/softwareCloud/imgs/44-AdGuard-for-WindowsMac.svg
Due: azure-pipelines.web.yaml

Update Software.json
  services/directory/data/Software.json
Due: none

Update SoftwareIcon.tsx
  web/src/components/softwareCloud/SoftwareIcon.tsx
Due: azure-pipelines.web.yaml

Update index.ts
  web/src/components/softwareCloud/imgs/index.ts
Due: azure-pipelines.web.yaml

Update SoftwareSyntax.json
  services/directory/data/SoftwareSyntax.json
Due: none

Add files via upload
  web/src/components/softwareCloud/imgs/45-AdGuard-for-Android.svg
Due: azure-pipelines.web.yaml

Update FilterListMaintainer.json
  services/directory/data/FilterListMaintainer.json
Due: none

Update FilterListTag.json
  services/directory/data/FilterListTag.json
Due: none

Update FilterListLanguage.json
  services/directory/data/FilterListLanguage.json
Due: none

refactor(data): lint PR #1962
  services/directory/data/FilterList.json
  services/directory/data/FilterListLanguage.json
  services/directory/data/FilterListMaintainer.json
  services/directory/data/FilterListViewUrl.json
  services/directory/data/SoftwareSyntax.json
Due: none
