Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

refactor(data): lint PR #1908
  data/FilterList.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

Update FilterListLanguage.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

Update SoftwareSyntax.json
  data/SoftwareSyntax.json
Due: azure-pipelines.api.yaml

fix(data): 🐛 add 2x missing required viewUrls
  data/FilterList.json
Due: azure-pipelines.api.yaml

feat(directory): ✨ init directory csproj
  .dockerignore
  FilterLists.sln
  directory/src/FilterLists.Directory.Api/Controllers/WeatherForecastController.cs
  directory/src/FilterLists.Directory.Api/Dockerfile
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Api/Program.cs
  directory/src/FilterLists.Directory.Api/Properties/launchSettings.json
  directory/src/FilterLists.Directory.Api/Startup.cs
  directory/src/FilterLists.Directory.Api/WeatherForecast.cs
  directory/src/FilterLists.Directory.Api/appsettings.Development.json
  directory/src/FilterLists.Directory.Api/appsettings.json
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml

feat(directory): ✨ init add'l directory csprojs
  FilterLists.sln
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

feat(directory): ✨ init docker-compose
  FilterLists.sln
  directory/src/FilterLists.Directory.Api/Dockerfile
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  docker-compose.dcproj
  docker-compose.override.yml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

feat(directory): ✨ init R# and run code cleanup
  FilterLists.sln.DotSettings
  directory/src/FilterLists.Directory.Api/Controllers/WeatherForecastController.cs
  directory/src/FilterLists.Directory.Api/Program.cs
  directory/src/FilterLists.Directory.Api/Startup.cs
  directory/src/FilterLists.Directory.Api/WeatherForecast.cs
  directory/src/FilterLists.Directory.Api/appsettings.Development.json
  directory/src/FilterLists.Directory.Api/appsettings.json
Due: none

feat(directory): ✨ init query entities (no relationships yet)
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Contracts/ISurrogateKey.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Language.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
Due: none

feat(directory): ✨ init query entity relationships
  FilterLists.sln.DotSettings
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Contracts/IHaveSurrogateKey.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Dependent.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListLanguage.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListMaintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListTag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Fork.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Language.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Merge.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SoftwareSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
Due: none

feat(directory): ✨ init IQueryDirectory
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/DirectoryQueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/DirectoryQueryFacade.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/IQueryDirectory.cs
Due: none

refactor(directory): ♻ make all members public v internal for now
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/DirectoryQueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/DirectoryQueryFacade.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Contracts/IHaveSurrogateKey.cs
Due: none

refactor(directory): ♻ enable nullable reference types
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/DirectoryQueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Contracts/IHaveSurrogateKey.cs
Due: none

feat(directory): ✨ configure required vs optional query entity props
  FilterLists.sln.DotSettings
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Dependent.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListLanguage.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListMaintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListTag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Fork.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Language.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Merge.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SoftwareSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
Due: none

feat(directory): ✨📦 add Microsoft.CodeAnalysis.FxCopAnalyzers
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

build(directory): ♻ suppress irrelevant CA2007 warning
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

refactor(directory): 🎨 organize some infra dirs
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/DirectoryQueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/DirectoryQueryFacade.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/IQueryDirectory.cs
Due: none

feat(directory): ✨ wire up ef to postgres container
  .env
  directory/src/FilterLists.Directory.Api/Controllers/FilterListsController.cs
  directory/src/FilterLists.Directory.Api/Controllers/WeatherForecastController.cs
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Api/Program.cs
  directory/src/FilterLists.Directory.Api/Properties/launchSettings.json
  directory/src/FilterLists.Directory.Api/Startup.cs
  directory/src/FilterLists.Directory.Api/WeatherForecast.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Contracts/IHaveSurrogateKey.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/DirectoryQueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/DirectoryQueryFacade.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/QueryFacadeExtension.cs
  docker-compose.override.yml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

fix(directory): 🐛 add EF-required private setters
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Dependent.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListLanguage.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListMaintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListTag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Fork.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Language.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Merge.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SoftwareSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
Due: none

feat(directory): ✨ configure many-to-many relationships
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/DirectoryQueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/DependentTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListLanguageTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/ForkTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/MergeTypeConfiguration.cs
Due: none

build(directory): ♻ suppress CA1812 warning
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

feat(directory): ✨ throw if readonly context SaveChanges is called
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/DirectoryQueryDbContext.cs
Due: none

feat(directory): ✨ configure many-to-many relationships
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/DirectoryQueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListMaintainerTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListSyntaxTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListTagTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/LanguageTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/SoftwareSyntaxTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/ViewUrlPartialTypeConfiguration.cs
Due: none

feat(directory): 📦 install EF design tools
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
Due: none

feat(directory): ✨ add connection string to appsettings for ef tools support
  directory/src/FilterLists.Directory.Api/appsettings.Development.json
Due: none

refactor(directory): ♻ use ints for IDs for better EF support
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Contracts/IHaveSurrogateKey.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/DependentTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListLanguageTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListMaintainerTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListSyntaxTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListTagTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/ForkTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/MergeTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/SoftwareSyntaxTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/ViewUrlPartialTypeConfiguration.cs
Due: none

refactor(directory): ♻ use shaddow Id props, mv mappings to entity files
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Contracts/IHaveSurrogateKey.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Dependent.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListLanguage.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListMaintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListTag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Fork.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Language.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Merge.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SoftwareSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/DirectoryQueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/DependentTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListLanguageTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListMaintainerTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListSyntaxTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListTagTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/ForkTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/LanguageTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/MergeTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/SoftwareSyntaxTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/ViewUrlPartialTypeConfiguration.cs
Due: none

refactor(directory): ♻ use Language natural key in FilterListLanguage many-to-many
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListLanguage.cs
Due: none

fix(directory): 🐛 add private setters to all props for EF
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Language.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
Due: none

refactor(directory): ♻ make nav collection props read only
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Language.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
Due: none

refactor(directory): ♻ rm unnecessary generic param on mappings to simplify mapping registration
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Dependent.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListLanguage.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListMaintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListTag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Fork.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Language.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Merge.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SoftwareSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/DirectoryQueryDbContext.cs
Due: none

feat(directory): ✨ explicitly pluralize table names that aren't mapped to DbContext
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Dependent.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListLanguage.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListMaintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListTag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Fork.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Merge.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SoftwareSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
Due: none

refactor(directory): ♻ ren facade
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/QueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/QueryFacade.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/QueryFacadeExtension.cs
Due: none

feat(directory): 📦 add MediatR
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Api/Startup.cs
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Application/ServicesRegistrationExtension.cs
  directory/src/FilterLists.Directory.Infrastructure/ServiceRegistrationExtension.cs
Due: none

refactor(directory): ♻ make Startup internal
  directory/src/FilterLists.Directory.Api/Startup.cs
Due: none

feat(directory): ✨ use MediatR query for sample endpoint
  directory/src/FilterLists.Directory.Api/Controllers/FilterListsController.cs
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Application/GetLists.cs
Due: none

refactor(directory): ♻ ren predicate
  directory/src/FilterLists.Directory.Api/Startup.cs
Due: none

refactor(directory): ♻ ren QueryContext
  directory/src/FilterLists.Directory.Application/GetLists.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Context/IQueryContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Context/QueryContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Context/QueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/ServiceRegistrationExtension.cs
Due: none
