Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

azure-pipelines.agent.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-agent-results
    inputs:
      command: volume
      arguments: create test-agent-results
  - task: DockerCompose@0
    displayName: run agent
    inputs:
      dockerComposeFile: docker-compose.agent.tests.yml
  ...

azure-pipelines.api.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-data-results
    inputs:
      command: volume
      arguments: create test-data-results
  - task: DockerCompose@0
    displayName: up test-data db
    inputs:
      dockerComposeFile: docker-compose.data.tests.yml
  ...

azure-pipelines.nginx.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CopyFiles@2
    displayName: stage files
    inputs:
      SourceFolder: $(Build.SourcesDirectory)
      Contents: 'ops/nginx/**
  
        docker-compose.yml
  
        docker-compose.prod.yml
  
        '
      TargetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines.web.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: build
    inputs:
      containerRegistry: github-package-registry
      repository: collinbarrett/filterlists/filterlists.web
      command: build
      Dockerfile: web/Dockerfile
      buildContext: ./web
      tags: 'latest
  
  ...

Added BlockModReposting Filter List
  services/Directory/data/FilterList.json
Due: none

Update FilterListSyntax.json
  services/Directory/data/FilterListSyntax.json
Due: none

Update FilterListMaintainer.json
  services/Directory/data/FilterListMaintainer.json
Due: none

Update Maintainer.json to include rotgruengelb
  services/Directory/data/Maintainer.json
Due: none

Update FilterListTag.json
  services/Directory/data/FilterListTag.json
Due: none

Update FilterListViewUrl.json
  services/Directory/data/FilterListViewUrl.json
Due: none

refactor(web): ♻️ convert App to function to try fix relay
  web/pages/_app.tsx
Due: azure-pipelines.web.yaml

feat(web): ✨📦 npm create @tobiastengler/relay-app
  web/.gitattributes
  web/next.config.js
  web/package-lock.json
  web/package.json
  web/pages/_app.tsx
  web/relay.config.json
  web/src/RelayEnvironment.ts
  web/src/relay-types.ts
  web/src/schema.graphql
Due: azure-pipelines.web.yaml

feat(web): ✨ implement relay schema.graphql
  web/src/schema.graphql
Due: azure-pipelines.web.yaml

feat(web): ✨ finitial initial relay config
  web/.prettierignore
  web/src/RelayEnvironment.ts
Due: azure-pipelines.web.yaml

fix(api): 🐛 define LicenseId FK as ID
  api/FilterLists.Api/Api/Types/FilterList.cs
  web/src/schema.graphql
Due: azure-pipelines.web.yaml

refactor(api): ♻️⚡️ prefer NoTracking on query-only dbcontext for now
  api/FilterLists.Api/Persistence/Extensions/ConfigurationExtensions.cs
Due: none

fix(api): 🐛 default Url value for EF
  api/FilterLists.Api/Persistence/Entities/FilterListViewUrl.cs
Due: none

A: github.com/jarelllama/Scam-Blocklist
  services/Directory/data/FilterList.json
  services/Directory/data/FilterListMaintainer.json
  services/Directory/data/FilterListSyntax.json
  services/Directory/data/FilterListTag.json
  services/Directory/data/FilterListViewUrl.json
  services/Directory/data/Maintainer.json
Due: none

Fix as requested
  services/Directory/data/FilterList.json
Due: none

Update name
  services/Directory/data/FilterList.json
Due: none

refactor(data): lint PR #3569
  services/Directory/data/Maintainer.json
Due: none

chore(data): ♻️ sync data w/main
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListMaintainer.json
  data/FilterListSyntax.json
  data/FilterListTag.json
  data/FilterListViewUrl.json
  data/Maintainer.json
Due: azure-pipelines.api.yaml

refactor(api): ♻️ use ef core skip navigations
  api/FilterLists.Api/Persistence/Entities/Dependent.cs
  api/FilterLists.Api/Persistence/Entities/FilterList.cs
  api/FilterLists.Api/Persistence/Entities/FilterListLanguage.cs
  api/FilterLists.Api/Persistence/Entities/FilterListMaintainer.cs
  api/FilterLists.Api/Persistence/Entities/FilterListSyntax.cs
  api/FilterLists.Api/Persistence/Entities/FilterListTag.cs
  api/FilterLists.Api/Persistence/Entities/FilterListViewUrl.cs
  api/FilterLists.Api/Persistence/Entities/Fork.cs
  api/FilterLists.Api/Persistence/Entities/Language.cs
  api/FilterLists.Api/Persistence/Entities/Maintainer.cs
  api/FilterLists.Api/Persistence/Entities/Merge.cs
  api/FilterLists.Api/Persistence/Entities/Software.cs
  api/FilterLists.Api/Persistence/Entities/SoftwareSyntax.cs
  api/FilterLists.Api/Persistence/Entities/Syntax.cs
  api/FilterLists.Api/Persistence/Entities/Tag.cs
  api/FilterLists.Api/Persistence/Extensions/SeedConfigurationExtensions.cs
  api/FilterLists.Api/Persistence/Migrations/20230427232453_InitialCreate.Designer.cs
  api/FilterLists.Api/Persistence/Migrations/20230427232453_InitialCreate.cs
  api/FilterLists.Api/Persistence/Migrations/20230427232520_InitialSeed.Designer.cs
  api/FilterLists.Api/Persistence/Migrations/20230427232520_InitialSeed.cs
  api/FilterLists.Api/Persistence/Migrations/FilterListsDbContextModelSnapshot.cs
Due: none

refactor(api): ♻️🔥 rm some R# disables
  api/FilterLists.Api/Api/Types/FilterList.cs
  api/FilterLists.Api/Api/Types/Language.cs
  api/FilterLists.Api/Api/Types/License.cs
  api/FilterLists.Api/Api/Types/Maintainer.cs
  api/FilterLists.Api/Api/Types/Software.cs
  api/FilterLists.Api/Api/Types/Syntax.cs
  api/FilterLists.Api/Api/Types/Tag.cs
  api/FilterLists.Api/FilterLists.Api.csproj
  api/FilterLists.Api/Persistence/FilterListsDbContextDesignTimeFactory.cs
Due: none

chore(web): ♻️ sync graphql schema w/api
  web/src/schema.graphql
Due: azure-pipelines.web.yaml

refactor(web): ♻️ update env for graphql
  .github/workflows/azure-static-web-apps-white-bay-0ec2f6d0f.yml
  web/src/RelayEnvironment.ts
Due: azure-pipelines.web.yaml

docs(api): 📄 TODO disable BCP telemetry
  api/FilterLists.Api/Api/ConfigurationExtensions.cs
Due: none

fix(api): 🐛 define LicenseId FK as ID
  api/FilterLists.Api/Api/Types/FilterList.cs
Due: none

refactor(web): ♻️ update env for graphql
  .github/workflows/azure-static-web-apps-white-bay-0ec2f6d0f.yml
Due: none

docs(api): 📄
  api/FilterLists.Api/FilterLists.Api.csproj
  api/FilterLists.Api/Persistence/Entities/FilterList.cs
  api/FilterLists.Api/Persistence/Entities/FilterListViewUrl.cs
  api/FilterLists.Api/Persistence/Entities/Language.cs
  api/FilterLists.Api/Persistence/Entities/License.cs
  api/FilterLists.Api/Persistence/Entities/Maintainer.cs
  api/FilterLists.Api/Persistence/Entities/Software.cs
  api/FilterLists.Api/Persistence/Entities/Syntax.cs
  api/FilterLists.Api/Persistence/Entities/Tag.cs
Due: none

fix(api): 🐛 apply Global IDs to FilterListViewUrl
  api/FilterLists.Api/Api/Types/FilterListViewUrl.cs
  api/FilterLists.Api/FilterLists.Api.csproj
Due: none

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web
