Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

feat(data): migrate PR #1825
  server/src/FilterLists.Data.Migrations/Migrations/20200726174708_1825.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200726174708_1825.cs
Due: none

Update Syntax.json
  data/Syntax.json
Due: azure-pipelines.api.yaml

Add files via upload
  data/FilterList.json
Due: azure-pipelines.api.yaml

Update Software.json
  data/Software.json
Due: azure-pipelines.api.yaml

Update SoftwareSyntax.json
  data/SoftwareSyntax.json
Due: azure-pipelines.api.yaml

Update SoftwareIcon.tsx
  web/src/components/softwareCloud/SoftwareIcon.tsx
Due: azure-pipelines.web.yaml

refactor(data): lint PR #1825
  data/FilterList.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

Update FilterListLanguage.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

Update index.ts
  web/src/components/softwareCloud/imgs/index.ts
Due: azure-pipelines.web.yaml

Add files via upload
  web/src/components/softwareCloud/imgs/43-SmartDNS.png
Due: azure-pipelines.web.yaml

Update meta data of uBlock Japanese filters family
  data/FilterList.json
Due: azure-pipelines.api.yaml

feat(data): migrate PR #1832
  server/src/FilterLists.Data.Migrations/Migrations/20200727120223_1832.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200727120223_1832.cs
Due: none

Add Maintainer info to Yuki2718's new lists
  data/FilterList.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

feat(data): migrate PR #1836
  server/src/FilterLists.Data.Migrations/Migrations/20200728102526_1836.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200728102526_1836.cs
Due: none

Update FilterListMaintainer.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

refactor(data): lint PR #1842
  data/FilterListLanguage.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

feat(data): migrate PR #1842
  server/src/FilterLists.Data.Migrations/Migrations/20200729133253_1842.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200729133253_1842.cs
Due: none
