Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

migrate PR #1729
  server/src/FilterLists.Data.Migrations/Migrations/20200629160638_1729.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200629160638_1729.cs
Due: none

Update FilterListMaintainer.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

migrate PR #1730
  server/src/FilterLists.Data.Migrations/Migrations/20200629173400_1730.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200629173400_1730.cs
Due: none

Update Tag.json
  data/Tag.json
Due: azure-pipelines.api.yaml

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

Update FilterListLanguage.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

Update Syntax.json
  data/Syntax.json
Due: azure-pipelines.api.yaml

Add files via upload
  data/FilterList.json
Due: azure-pipelines.api.yaml

migrate PR #1736
  server/src/FilterLists.Data.Migrations/Migrations/20200703211914_1736.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200703211914_1736.cs
Due: none

refactor(web): prettier --write .
  web/config-overrides.js
  web/public/manifest.json
  web/src/App.tsx
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
  web/src/components/listsTable/ListDrawer.tsx
  web/src/components/listsTable/ListsTable.tsx
  web/src/components/listsTable/ListsTableHoc.tsx
  web/src/components/softwareCloud/SoftwareIcon.tsx
  web/src/components/softwareCloud/imgs/index.ts
  web/src/hooks/index.ts
  web/src/hooks/useApiData.tsx
  web/src/hooks/useLanguages.tsx
  web/src/hooks/useLicenses.tsx
  web/src/hooks/useLists.tsx
  web/src/hooks/useMaintainers.tsx
  web/src/hooks/useSearchColumnFilter.tsx
  web/src/hooks/useSoftware.tsx
  web/src/hooks/useSyntaxes.tsx
  web/src/hooks/useTablePageSizer.tsx
Due: azure-pipelines.web.yaml

build(web): bump antd
  web/package-lock.json
  web/package.json
  web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

docs: mv CONTRIBUTING.md to .github dir
  .github/CONTRIBUTING.md
Due: none

fix(web): enable sorting Description column, fixes #1518
  web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

docs: swap BeerPay for GitHub Sponsors, fixes #1524
  web/src/App.tsx
Due: azure-pipelines.web.yaml

refactor(data): lint FilterList.json
  data/FilterList.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint Dependent.json
  data/Dependent.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint FilterListLanguage.json
  data/FilterListLanguage.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint FilterListMaintainer.json
  data/FilterListMaintainer.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint FilterListTag.json
  data/FilterListTag.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint Fork.json
  data/Fork.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint Language.json
  data/Language.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint License.json
  data/License.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint Maintainer.json
  data/Maintainer.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint Merge.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint Software.json
  data/Software.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint SoftwareSyntax.json
  data/lint.sh
Due: azure-pipelines.api.yaml
