Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

azure-pipelines.agent.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-agent-results
    inputs:
      command: volume
      arguments: create test-agent-results
  - task: DockerCompose@0
    displayName: run agent
    inputs:
      dockerComposeFile: docker-compose.agent.tests.yml
  ...

azure-pipelines.api.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-data-results
    inputs:
      command: volume
      arguments: create test-data-results
  - task: DockerCompose@0
    displayName: up test-data db
    inputs:
      dockerComposeFile: docker-compose.data.tests.yml
  ...

azure-pipelines.nginx.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CopyFiles@2
    displayName: stage files
    inputs:
      SourceFolder: $(Build.SourcesDirectory)
      Contents: 'ops/nginx/**
  
        docker-compose.yml
  
        docker-compose.prod.yml
  
        '
      TargetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines.web.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: build
    inputs:
      containerRegistry: github-package-registry
      repository: collinbarrett/filterlists/filterlists.web
      command: build
      Dockerfile: web/Dockerfile
      buildContext: ./web
      tags: 'latest
  
  ...

Update FilterListViewUrl.json
  services/Directory/data/FilterListViewUrl.json
Due: none

Update FilterList.json
  services/Directory/data/FilterList.json
Due: none

Update index.ts
  web/src/components/softwareCloud/imgs/index.ts
Due: azure-pipelines.web.yaml

Add files via upload
  web/src/components/softwareCloud/imgs/17-Google-Hit-Hider-by-Domain.svg
  web/src/components/softwareCloud/imgs/19-Samsung-Knox.svg
  web/src/components/softwareCloud/imgs/22-Diversion.svg
Due: azure-pipelines.web.yaml

Update Software.json
  services/Directory/data/Software.json
Due: none

feat(data): migrate PR #2003
  services/Directory/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200922001223_2003.Designer.cs
  services/Directory/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200922001223_2003.cs
Due: none

feat(archival): ✨ enable readonly Hangfire Dashboard
  reverse-proxy/conf.d.dev/default.conf
  reverse-proxy/conf.d/default.conf
  services/Archival/FilterLists.Archival.Api/Dockerfile
  services/Archival/FilterLists.Archival.Api/Startup.cs
  services/Archival/FilterLists.Archival.Api/dev.Dockerfile
  services/Archival/FilterLists.Archival.Infrastructure/Scheduling/DashboardAuthorizationFilter.cs
Due: none

feat(archival): ✨ bump log level
  services/Archival/FilterLists.Archival.Application/Commands/ArchiveList.cs
  services/Archival/FilterLists.Archival.Application/Commands/EnqueueArchiveAllLists.cs
  services/Archival/FilterLists.Archival.Infrastructure/Persistence/ITxtFileRepository.cs
Due: none

fix(archival): 🐛 fix '//' in Hangfire Dashboard path
  services/Archival/FilterLists.Archival.Api/Startup.cs
Due: none

feat(directory): ✨ use latest patch base dotnet images
  services/Directory/FilterLists.Directory.Api/Dockerfile
  services/Directory/FilterLists.Directory.Api/dev.Dockerfile
  services/Directory/FilterLists.Directory.Api/migrate.Dockerfile
Due: none

fix(archival): 🐛 try using bionic for libgit2sharp support
  services/Archival/FilterLists.Archival.Api/Dockerfile
  services/Archival/FilterLists.Archival.Api/FilterLists.Archival.Api.csproj
  services/Archival/FilterLists.Archival.Api/dev.Dockerfile
Due: none

Revert "fix(archival): 🐛 try using bionic for libgit2sharp support"
  services/Archival/FilterLists.Archival.Api/Dockerfile
  services/Archival/FilterLists.Archival.Api/FilterLists.Archival.Api.csproj
  services/Archival/FilterLists.Archival.Api/dev.Dockerfile
Due: none

feat(archival): ✨ use latest patch base dotnet images
  services/Archival/FilterLists.Archival.Api/Dockerfile
  services/Archival/FilterLists.Archival.Api/dev.Dockerfile
Due: none

fix(archival): 🐛 target more specific RID for LibGit2Sharp
  services/Archival/FilterLists.Archival.Api/Dockerfile
  services/Archival/FilterLists.Archival.Api/FilterLists.Archival.Api.csproj
  services/Archival/FilterLists.Archival.Api/dev.Dockerfile
Due: none

feat(archival): ✨ flush logs to AppInsights post command execution
  services/Archival/FilterLists.Archival.Infrastructure/ConfigurationExtensions.cs
  services/Archival/FilterLists.Archival.Infrastructure/Logging/ConfigurationExtensions.cs
  services/Archival/FilterLists.Archival.Infrastructure/Logging/TelemetryClientFlushPostProcessor.cs
Due: none

fix(logging): 🐛🚧 debug AppInsights logging
  services/Archival/FilterLists.Archival.Api/Startup.cs
  services/Directory/FilterLists.Directory.Api/Startup.cs
Due: none

Revert "fix(logging): 🐛🚧 debug AppInsights logging"
  services/Archival/FilterLists.Archival.Api/Startup.cs
  services/Directory/FilterLists.Directory.Api/Startup.cs
Due: none

fix(logging): 🐛📦 rollback AppInsights to try fix when trimmed
  services/SharedKernel/FilterLists.SharedKernel.Logging/FilterLists.SharedKernel.Logging.csproj
Due: none

fix(reverse-proxy): 🐛 disable forwarding requests to archival-api (it's getting requests for directory)
  reverse-proxy/conf.d.dev/default.conf
  reverse-proxy/conf.d/default.conf
Due: none

Revert "fix(logging): 🐛📦 rollback AppInsights to try fix when trimmed"
  services/SharedKernel/FilterLists.SharedKernel.Logging/FilterLists.SharedKernel.Logging.csproj
Due: none

fix(logging): 🐛🚧 revert to InMemoryChannel to try fix AppInsights logging
  .env
  docker-compose.yml
  services/Directory/FilterLists.Directory.Api/appsettings.Development.json
  services/SharedKernel/FilterLists.SharedKernel.Logging/ConfigurationExtensions.cs
  services/SharedKernel/FilterLists.SharedKernel.Logging/Options/ApplicationInsightsOptions.cs
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Revert "fix(logging): 🐛🚧 revert to InMemoryChannel to try fix AppInsights logging"
  .env
  docker-compose.yml
  services/Directory/FilterLists.Directory.Api/appsettings.Development.json
  services/SharedKernel/FilterLists.SharedKernel.Logging/ConfigurationExtensions.cs
  services/SharedKernel/FilterLists.SharedKernel.Logging/Options/ApplicationInsightsOptions.cs
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Revert "Revert "fix(logging): 🐛🚧 revert to InMemoryChannel to try fix AppInsights logging""
  .env
  docker-compose.yml
  services/Directory/FilterLists.Directory.Api/appsettings.Development.json
  services/SharedKernel/FilterLists.SharedKernel.Logging/ConfigurationExtensions.cs
  services/SharedKernel/FilterLists.SharedKernel.Logging/Options/ApplicationInsightsOptions.cs
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Revert "Revert "Revert "fix(logging): 🐛🚧 revert to InMemoryChannel to try fix AppInsights logging"""
  .env
  docker-compose.yml
  services/Directory/FilterLists.Directory.Api/appsettings.Development.json
  services/SharedKernel/FilterLists.SharedKernel.Logging/ConfigurationExtensions.cs
  services/SharedKernel/FilterLists.SharedKernel.Logging/Options/ApplicationInsightsOptions.cs
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(services): ♻ mv Directory API contracts from SharedKernel to Directory, rm unused Directory.Domain proj (for now)
  services/Archival/FilterLists.Archival.Api/Dockerfile
  services/Archival/FilterLists.Archival.Api/dev.Dockerfile
  services/Archival/FilterLists.Archival.Application/Commands/ArchiveList.cs
  services/Archival/FilterLists.Archival.Application/Commands/EnqueueArchiveAllLists.cs
  services/Archival/FilterLists.Archival.Infrastructure/ConfigurationExtensions.cs
  services/Archival/FilterLists.Archival.Infrastructure/FilterLists.Archival.Infrastructure.csproj
  services/Archival/azure-pipelines.api.yaml
  services/Directory/FilterLists.Directory.Api.Contracts/ConfigurationExtensions.cs
  services/Directory/FilterLists.Directory.Api.Contracts/FilterLists.Directory.Api.Contracts.csproj
  services/Directory/FilterLists.Directory.Api.Contracts/IDirectoryApi.cs
  services/Directory/FilterLists.Directory.Api.Contracts/Models/ListDetailsVm.cs
  services/Directory/FilterLists.Directory.Api.Contracts/Models/ListVm.cs
  services/Directory/FilterLists.Directory.Api.Contracts/Options/ApiOptions.cs
  services/Directory/FilterLists.Directory.Api/Controllers/ListsController.cs
  services/Directory/FilterLists.Directory.Api/Dockerfile
  services/Directory/FilterLists.Directory.Api/dev.Dockerfile
  services/Directory/FilterLists.Directory.Api/migrate.Dockerfile
  services/Directory/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  services/Directory/FilterLists.Directory.Application/Queries/GetListDetails.cs
  services/Directory/FilterLists.Directory.Application/Queries/GetLists.cs
  services/Directory/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
  services/Directory/azure-pipelines.api.yaml
  services/FilterLists.sln
  services/SharedKernel/FilterLists.SharedKernel.Apis.Clients/FilterLists.SharedKernel.Apis.Clients.csproj
  services/SharedKernel/FilterLists.SharedKernel.Apis.Contracts/FilterLists.SharedKernel.Apis.Contracts.csproj
Due: none

refactor(archival): ♻ absorb SeedWork for now
  services/Archival/FilterLists.Archival.Api/Dockerfile
  services/Archival/FilterLists.Archival.Api/dev.Dockerfile
  services/Archival/FilterLists.Archival.Infrastructure/FilterLists.Archival.Infrastructure.csproj
  services/Archival/FilterLists.Archival.Infrastructure/SeedWork/IUnitOfWork.cs
  services/Archival/azure-pipelines.api.yaml
  services/FilterLists.sln
  services/SharedKernel/FilterLists.SharedKernel.SeedWork/FilterLists.SharedKernel.SeedWork.csproj
Due: none

refactor(archival): ♻🎨 fix IUnitOfWork namespace
  services/Archival/FilterLists.Archival.Infrastructure/Persistence/ITxtFileRepository.cs
  services/Archival/FilterLists.Archival.Infrastructure/SeedWork/IUnitOfWork.cs
Due: none

refactor(archival): ♻ internalize IUnitOfWork
  services/Archival/FilterLists.Archival.Infrastructure/SeedWork/IUnitOfWork.cs
Due: none

Revert "refactor(archival): ♻ internalize IUnitOfWork"
  services/Archival/FilterLists.Archival.Infrastructure/SeedWork/IUnitOfWork.cs
Due: none

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web
