Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

azure-pipelines.agent.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-agent-results
    inputs:
      command: volume
      arguments: create test-agent-results
  - task: DockerCompose@0
    displayName: run agent
    inputs:
      dockerComposeFile: docker-compose.agent.tests.yml
  ...

azure-pipelines.api.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-data-results
    inputs:
      command: volume
      arguments: create test-data-results
  - task: DockerCompose@0
    displayName: up test-data db
    inputs:
      dockerComposeFile: docker-compose.data.tests.yml
  ...

azure-pipelines.nginx.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CopyFiles@2
    displayName: stage files
    inputs:
      SourceFolder: $(Build.SourcesDirectory)
      Contents: 'ops/nginx/**
  
        docker-compose.yml
  
        docker-compose.prod.yml
  
        '
      TargetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines.web.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: build
    inputs:
      containerRegistry: github-package-registry
      repository: collinbarrett/filterlists/filterlists.web
      command: build
      Dockerfile: web/Dockerfile
      buildContext: ./web
      tags: 'latest
  
  ...

refactor(directory): 🔥 rm dup docker-compose config
  services/directory/docker-compose.migrations.tests.yml
Due: none

feat(directory): ✨ add PK values to FilterListSegmentViewUrl.json
  services/directory/data/FilterListSegmentViewUrl.json
Due: none

refactor(sln): 🎨 mv shared dockerignore to 'Solution Items'
  services/FilterLists.sln
Due: none

fix(directory): 🐛 add EF-required private setters
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Dependent.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListLanguage.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListMaintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListTag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Fork.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Language.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Merge.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SoftwareSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
Due: none

fix: 🐛 fix reverse-proxy proxy pass to upstream urls
  reverse-proxy/conf.d.dev/filterlists.conf
  reverse-proxy/conf.d/filterlists.conf
Due: none

refactor(web): ♻ rm PublishedDate from ui
  web/src/components/PublishedDate.tsx
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
Due: azure-pipelines.web.yaml

build(directory): 🔨 optimize build output with trimming and self-contained
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
Due: none

feat(web): ✨ add ListDetails interface and hook
  web/src/hooks/index.ts
  web/src/hooks/useListDetails.tsx
  web/src/interfaces/ListDetails.ts
Due: azure-pipelines.web.yaml

feat(directory): ✨ add ids to FilterListViewUrl
  services/directory/data/FilterListViewUrl.json
Due: none

feat: port forward imgs and data from legacy
  imgs/icon_filterlists.png
  imgs/icon_filterlists.psd
  imgs/logo_filterlists.png
  imgs/logo_filterlists.psd
  imgs/logo_lg_filterlists.png
  services/directory/data/Dependent.json
  services/directory/data/FilterList.json
  services/directory/data/FilterListLanguage.json
  services/directory/data/FilterListMaintainer.json
  services/directory/data/FilterListTag.json
  services/directory/data/Fork.json
  services/directory/data/Language.json
  services/directory/data/License.json
  services/directory/data/Maintainer.json
  services/directory/data/Merge.json
  services/directory/data/Software.json
  services/directory/data/SoftwareSyntax.json
  services/directory/data/Syntax.json
  services/directory/data/TPLSubscriptionAssistant.html
  services/directory/data/Tag.json
  services/directory/data/lint.sh
Due: none

build: ♻ misc build updates
  docker-compose.directory.migrations.tests.yml
  services/directory/azure-pipelines.migrate.yaml
Due: none

build: 🔨 dockerignore .env
  web/.dockerignore
Due: azure-pipelines.web.yaml

feat(directory): ✨ init directory csproj
  .dockerignore
  FilterLists.sln
  directory/src/FilterLists.Directory.Api/Controllers/WeatherForecastController.cs
  directory/src/FilterLists.Directory.Api/Dockerfile
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Api/Program.cs
  directory/src/FilterLists.Directory.Api/Properties/launchSettings.json
  directory/src/FilterLists.Directory.Api/Startup.cs
  directory/src/FilterLists.Directory.Api/WeatherForecast.cs
  directory/src/FilterLists.Directory.Api/appsettings.Development.json
  directory/src/FilterLists.Directory.Api/appsettings.json
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml

refactor(directory): ♻ rm unused seeding extension, temp disable seeding for broken type
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/SeedExtensions.cs
Due: none

refactor(directory): ♻ disable sensitive data logging
  services/directory/src/FilterLists.Directory.Infrastructure/ServiceCollectionExtension.cs
Due: none

feat(directory): ✨📦 add Microsoft.CodeAnalysis.FxCopAnalyzers
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

feat(directory): ✨ flesh out GetLicenses query
  services/directory/src/FilterLists.Directory.Application/Queries/GetLicenses.cs
Due: none

refactor(directory): 🎨 lint seed data
  services/directory/data/FilterListViewUrl.json
  services/directory/data/License.json
  services/directory/data/Maintainer.json
  services/directory/data/Software.json
  services/directory/data/Syntax.json
  services/directory/data/lint.sh
Due: none

refactor(directory): ♻ use ints for IDs for better EF support
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Contracts/IHaveSurrogateKey.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/DependentTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListLanguageTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListMaintainerTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListSyntaxTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListTagTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/ForkTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/MergeTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/SoftwareSyntaxTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/ViewUrlPartialTypeConfiguration.cs
Due: none

build(directory): 🔨 apply misc docker build work
  directory/.dockerignore
  directory/src/FilterLists.Directory.Api/Dockerfile
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Api/Properties/launchSettings.json
  directory/src/FilterLists.Directory.Api/appsettings.json
  directory/src/FilterLists.Directory.Api/debug.Dockerfile
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
  docker-compose.override.yml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

build: 🔨⚡ optimize published artifact only in prod
  services/directory/src/FilterLists.Directory.Api/Dockerfile
  services/directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
Due: none

build: 🔨 work on docker-compose
  docker-compose.dcproj
  docker-compose.override.yml
  docker-compose.prod.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(directory): 🎨 configure R# not to rm private setters globally
  services/FilterLists.sln.DotSettings
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Dependent.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListLanguage.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListMaintainer.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListSyntax.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListTag.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Fork.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Language.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Merge.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SegmentViewUrl.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SegmentViewUrlMirror.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SoftwareSyntax.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
Due: none

build(directory): 🔨 re-add connection string in appsettings for ef migration support
  services/directory/src/FilterLists.Directory.Api/appsettings.Development.json
Due: none

build(directory): 📦 suppress warnings on any config
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

fix(directory): 🐛 fix Merge.json prop names
  services/directory/data/Merge.json
Due: none

refactor(directory): ♻ revise License permission schema
  services/directory/data/License.json
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200828014014_Initial.Designer.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200828014014_Initial.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/QueryDbContextModelSnapshot.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
Due: none

feat(directory): ✨ add initial migration
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
  directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200824012903_Initial.Designer.cs
  directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200824012903_Initial.cs
  directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/QueryDbContextModelSnapshot.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Context/QueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/ServiceRegistrationExtension.cs
Due: none

feat(directory): ✨ flesh out GetSyntaxes query
  services/directory/src/FilterLists.Directory.Application/Queries/GetSyntaxes.cs
Due: none

fix(directory): 🐛 ren Maintainer.Url in seed data
  services/directory/data/Maintainer.json
Due: none

refactor(data): 🔥 rm some deprecated props from FilterList.json
  services/directory/data/FilterList.json
Due: none

fix(directory): 🐛 fix Language 'ne' data conversion bug
  services/directory/data/FilterListLanguage.json
Due: none

refactor(directory): use natural composite keys for nested view url owned types
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200827015901_Initial.Designer.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200827015901_Initial.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/QueryDbContextModelSnapshot.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListSegmentViewUrlMirror.cs
Due: none

feat(directory): ✨ init IQueryDirectory
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/DirectoryQueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/DirectoryQueryFacade.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/IQueryDirectory.cs
Due: none

fix(web): 🐛🔨 fix Dockerfile
  web/Dockerfile
Due: azure-pipelines.web.yaml

refactor(directory): ♻ exclude data from docker context
  services/.dockerignore
Due: none

feat(web): ✨ re-enable software column
  web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

refactor: 🎨 include 'dev' docker-compose in dcproj
  docker-compose.dcproj
Due: none

refactor(web): ♻ add key to components of SyntaxCloud
  web/src/components/syntaxCloud/SyntaxCloud.tsx
Due: azure-pipelines.web.yaml

feat(web): ✨ re-enable syntax column filter
  web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web
