Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

azure-pipelines.agent.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-agent-results
    inputs:
      command: volume
      arguments: create test-agent-results
  - task: DockerCompose@0
    displayName: run agent
    inputs:
      dockerComposeFile: docker-compose.agent.tests.yml
  ...

azure-pipelines.api.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-data-results
    inputs:
      command: volume
      arguments: create test-data-results
  - task: DockerCompose@0
    displayName: up test-data db
    inputs:
      dockerComposeFile: docker-compose.data.tests.yml
  ...

azure-pipelines.nginx.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CopyFiles@2
    displayName: stage files
    inputs:
      SourceFolder: $(Build.SourcesDirectory)
      Contents: 'ops/nginx/**
  
        docker-compose.yml
  
        docker-compose.prod.yml
  
        '
      TargetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines.web.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: build
    inputs:
      containerRegistry: github-package-registry
      repository: collinbarrett/filterlists/filterlists.web
      command: build
      Dockerfile: web/Dockerfile
      buildContext: ./web
      tags: 'latest
  
  ...

refactor(directory): ♻ extract directory-api.env
  .env
  directory-api.env
  docker-compose.dcproj
  docker-compose.directory.migrations.tests.yml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(directory): ♻ extract directory-db.env
  .env
  directory-db.env
  docker-compose.dcproj
  docker-compose.directory.migrations.tests.yml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(services): ♻ trigger builds on change of new .env files
  services/Archival/azure-pipelines.api.yaml
  services/Directory/azure-pipelines.api.yaml
Due: none

fix(archival): 🐛 re-add to reverse-proxy net to call directory-api
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

feat(services): ✨ add and configure standalone swagger-ui instance
  .env
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(api-docs): ♻ extract api-docs.env
  .env
  api-docs.env
  docker-compose.dcproj
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(services): ♻ extract some env vars
  .env
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(archival): ♻ extract archival-api.env
  .env
  archival-api.env
  docker-compose.dcproj
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

fix(reverse-proxy): 🐛 fix ports var interpolation
  docker-compose.override.yml
  docker-compose.prod.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

fix(reverse-proxy): 🐛 rm port env vars for now
  .env
  docker-compose.override.yml
  docker-compose.prod.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

feat(api-docs): ✨ add api-docs build pipe config
  services/azure-pipelines.api-docs.yaml
Due: none

refactor(reverse-proxy): ♻ rm commented archival-api config
  reverse-proxy/conf.d.dev/default.conf
  reverse-proxy/conf.d/default.conf
Due: none

feat(services): ✨ standup standalone swagger ui instance
  reverse-proxy/conf.d.dev/default.conf
  reverse-proxy/conf.d/default.conf
  services/Directory/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  services/Directory/FilterLists.Directory.Api/Startup.cs
  services/Directory/FilterLists.Directory.Api/SwaggerExtensions.cs
  web/src/hooks/useLanguages.tsx
  web/src/hooks/useLicenses.tsx
  web/src/hooks/useListDetails.tsx
  web/src/hooks/useLists.tsx
  web/src/hooks/useMaintainers.tsx
  web/src/hooks/useSoftware.tsx
  web/src/hooks/useSyntaxes.tsx
  web/src/hooks/useTags.tsx
Due: azure-pipelines.web.yaml

fix(services): 🚑🐛 try fix routing issues
  reverse-proxy/conf.d.dev/default.conf
  reverse-proxy/conf.d/default.conf
Due: none

fix(api-docs): 🐛 try specific swagger-ui version
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Revert "fix(api-docs): 🐛 try specific swagger-ui version"
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

fix(api-docs): 🐛 update encoding of dev URLS config
  api-docs.env
Due: none

docs(readme): 📝 fix directory swagger spec badge
  .github/README.md
Due: none

fix(api-docs): 🐛 allow img-src validator.swagger.io via csp
  reverse-proxy/conf.d/default.conf
Due: none

fix(directory): 🐛 fix swagger gen to nest under directory sub-path
  services/Directory/FilterLists.Directory.Api/SwaggerExtensions.cs
Due: none

docs(readme): 📝 add api-docs badge
  .github/README.md
Due: none

docs(readme): 📝♻ link Directory API badge to Swagger UI
  .github/README.md
Due: none

refactor(docker-compose): ♻ extract docker-compose dir
  docker-compose/.env
  docker-compose/api-docs.env
  docker-compose/archival-api.env
  docker-compose/directory-api.env
  docker-compose/directory-db.env
  docker-compose/docker-compose.dcproj
  docker-compose/docker-compose.directory.migrations.tests.yml
  docker-compose/docker-compose.override.yml
  docker-compose/docker-compose.prod.build.yml
  docker-compose/docker-compose.prod.yml
  docker-compose/docker-compose.yml
  reverse-proxy/azure-pipelines.yaml
  services/Archival/azure-pipelines.api.yaml
  services/Directory/azure-pipelines.api.yaml
  services/FilterLists.sln
  services/azure-pipelines.api-docs.yaml
  web/azure-pipelines.yaml
Due: azure-pipelines.web.yaml

fix(docker-compose): 🐛 fix copy files tasks
  reverse-proxy/azure-pipelines.yaml
  services/Archival/azure-pipelines.api.yaml
  services/Directory/azure-pipelines.api.yaml
  services/azure-pipelines.api-docs.yaml
  web/azure-pipelines.yaml
Due: azure-pipelines.web.yaml

fix(reverse-proxy): 🐛🚑 fix path to svr-includes dir on prod
  docker-compose/docker-compose.override.yml
  docker-compose/docker-compose.prod.yml
  docker-compose/docker-compose.yml
Due: none

fix(reverse-proxy): 🐛🚑 fix path to svr-includes dir on prod
  docker-compose/docker-compose.prod.yml
Due: none

feat(archival): ✨ open port 80 to prepare for exposing API endpoints
  .github/README.md
  services/Archival/FilterLists.Archival.Api/Dockerfile
Due: none

feat(archival): ✨ add ping endpoint
  docker-compose/api-docs.env
  reverse-proxy/conf.d.dev/default.conf
  reverse-proxy/conf.d/default.conf
  services/Archival/FilterLists.Archival.Api/Controllers/PingController.cs
  services/Archival/FilterLists.Archival.Api/FilterLists.Archival.Api.csproj
  services/Archival/FilterLists.Archival.Api/Startup.cs
  services/Archival/FilterLists.Archival.Api/SwaggerExtensions.cs
Due: none

fix(api-docs): 🐛 trigger build on .env change
  services/Directory/azure-pipelines.api.yaml
  services/azure-pipelines.api-docs.yaml
Due: none

docs(readme): 📝 add archival api badges
  .github/README.md
Due: none

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web
