Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

refactor(data): lint Syntax.json
  data/Syntax.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint Tag.json
  data/Tag.json
  data/lint.sh
Due: azure-pipelines.api.yaml

migrate PR #1738
  server/src/FilterLists.Data.Migrations/Migrations/20200704193142_1738.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200704193142_1738.cs
Due: none

refactor(data): lint Maintainer.json
  data/Maintainer.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint FilterList.json
  data/FilterList.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint FilterListTag.json
  data/FilterListTag.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint Language.json
  data/Language.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint FilterListMaintainer.json
  data/FilterListMaintainer.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint Dependent.json
  data/Dependent.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint License.json
  data/License.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint Software.json
  data/Software.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint Fork.json
  data/Fork.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint Merge.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint SoftwareSyntax.json
  data/lint.sh
Due: azure-pipelines.api.yaml

refactor(data): lint FilterListLanguage.json
  data/FilterListLanguage.json
  data/lint.sh
Due: azure-pipelines.api.yaml

feat(data): use conventional commits for migrate commits
  server/azure-pipelines.migrate.yaml
Due: none

docs(data): add doc comment to lint script
  data/lint.sh
Due: azure-pipelines.api.yaml

feat(data): lint json changes before migrating
  server/azure-pipelines.migrate.yaml
Due: none

feat(data): support soft-deleting FilterLists
  server/src/FilterLists.Data.Migrations/Migrations/20200705183800_SoftDeleteFilterList.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200705183800_SoftDeleteFilterList.cs
  server/src/FilterLists.Data/Entities/FilterList.cs
  server/src/FilterLists.Data/Entities/IDeleteSoftly.cs
Due: none

feat(api): exclude soft-deleted FilterLists from API
  server/src/FilterLists.Services/FilterList/FilterListService.cs
Due: none

feat(web): add robots.txt from cra
  web/public/robots.txt
Due: azure-pipelines.web.yaml

refactor(server): rm/reset R# config
  server/FilterLists.sln.DotSettings
Due: none

build: extract/disable Agent for now
  docker-compose.override.yml
  docker-compose.web.dcproj
  docker-compose.yml
  server/FilterLists.Api.sln
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(git): update gitattributes
  .gitattributes
Due: none

refactor(git): update gitignore
  .gitignore
Due: none

build(db): update mariadb
  docker-compose.data.tests.yml
  docker-compose.yml
  server/src/FilterLists.Data/Constants.cs
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Partial Revert "build: extract/disable Agent for now"
  docker-compose.override.yml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(agent): decouple agent from api
  docker-compose.data.tests.yml
  docker-compose.override.yml
  docker-compose.web.prod.yml
  docker-compose.yml
  server/azure-pipelines.agent.yaml
  server/azure-pipelines.api.yaml
  server/docker-compose.agent.dcproj
  server/docker-compose.agent.tests.yml
  server/docker-compose.override.yml
  server/docker-compose.yml
  server/src/FilterLists.Agent/Dockerfile
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml
