Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

azure-pipelines.agent.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-agent-results
    inputs:
      command: volume
      arguments: create test-agent-results
  - task: DockerCompose@0
    displayName: run agent
    inputs:
      dockerComposeFile: docker-compose.agent.tests.yml
  ...

azure-pipelines.api.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-data-results
    inputs:
      command: volume
      arguments: create test-data-results
  - task: DockerCompose@0
    displayName: up test-data db
    inputs:
      dockerComposeFile: docker-compose.data.tests.yml
  ...

azure-pipelines.nginx.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CopyFiles@2
    displayName: stage files
    inputs:
      SourceFolder: $(Build.SourcesDirectory)
      Contents: 'ops/nginx/**
  
        docker-compose.yml
  
        docker-compose.prod.yml
  
        '
      TargetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines.web.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: build
    inputs:
      containerRegistry: github-package-registry
      repository: collinbarrett/filterlists/filterlists.web
      command: build
      Dockerfile: web/Dockerfile
      buildContext: ./web
      tags: 'latest
  
  ...

fix(urlhaus-filter): syntaxId and consistent description
  data/FilterList.json
Due: azure-pipelines.api.yaml

fix(urlhaus-filter): add tags
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

fix(URLhaus): add maintainer
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

migrate PR #1544
  server/src/FilterLists.Data.Migrations/Migrations/20200419033042_1544.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200419033042_1544.cs
Due: none

migrate PR #1545
  server/src/FilterLists.Data.Migrations/Migrations/20200419033218_1545.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200419033218_1545.cs
Due: none

fix(blacklist named): should be BIND syntax
  data/FilterList.json
Due: azure-pipelines.api.yaml

migrate PR #1546
  server/src/FilterLists.Data.Migrations/Migrations/20200419065844_1546.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200419065844_1546.cs
Due: none

feat(urlhaus-filter): add dnsmasq-compatible blocklists
  data/FilterList.json
Due: azure-pipelines.api.yaml

feat(urlhaus-filter): add hosts-file, BIND & Unbound formats
  data/FilterList.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

fix(urlhaus-filter): update domains-format link
  data/FilterList.json
Due: azure-pipelines.api.yaml

style(Fake-Local-Journals-List): spacing
  data/FilterList.json
Due: azure-pipelines.api.yaml

migrate PR #1549
  server/src/FilterLists.Data.Migrations/Migrations/20200420084349_1549.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200420084349_1549.cs
Due: none

Update SoftwareSyntax.json
  data/SoftwareSyntax.json
Due: azure-pipelines.api.yaml

Add files via upload
  data/FilterList.json
Due: azure-pipelines.api.yaml

Update Tag.json
  data/Tag.json
Due: azure-pipelines.api.yaml

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

Update FilterListMaintainer.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

Update Syntax.json
  data/Syntax.json
Due: azure-pipelines.api.yaml

Update Software.json
  data/Software.json
Due: azure-pipelines.api.yaml

Add files via upload
  web/src/components/softwareCloud/imgs/41-Surge.png
Due: azure-pipelines.web.yaml

Update index.ts
  web/src/components/softwareCloud/imgs/index.ts
Due: azure-pipelines.web.yaml

Update SoftwareIcon.tsx
  web/src/components/softwareCloud/SoftwareIcon.tsx
Due: azure-pipelines.web.yaml

migrate PR #1559
  server/src/FilterLists.Data.Migrations/Migrations/20200423180837_1559.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200423180837_1559.cs
Due: none

Revert "migrate PR #1559"
  server/src/FilterLists.Data.Migrations/Migrations/20200423180837_1559.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200423180837_1559.cs
  server/src/FilterLists.Data.Migrations/Migrations/FilterListsDbContextModelSnapshot.cs
Due: none

migrate PR #1559
  server/src/FilterLists.Data.Migrations/Migrations/20200423183526_1559.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200423183526_1559.cs
Due: none

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web
