Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

add MadeWithReactJs shield
  .github/README.md
Due: none

Update Maintainer.json
  data/Maintainer.json
Due: azure-pipelines.api.yaml

Add files via upload
  data/FilterList.json
Due: azure-pipelines.api.yaml

Update FilterListMaintainer.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

migrate PR #1608
  server/src/FilterLists.Data.Migrations/Migrations/20200513010116_1608.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200513010116_1608.cs
Due: none

update antd
  web/package-lock.json
  web/package.json
  web/src/components/SubscribeButtons.tsx
Due: azure-pipelines.web.yaml

Update Software.json
  data/Software.json
Due: azure-pipelines.api.yaml

Update SoftwareSyntax.json
  data/SoftwareSyntax.json
Due: azure-pipelines.api.yaml

Update FilterListLanguage.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

Add files via upload
  web/src/components/softwareCloud/imgs/42-dnscrypt-proxy.png
Due: azure-pipelines.web.yaml

Update index.ts
  web/src/components/softwareCloud/imgs/index.ts
Due: azure-pipelines.web.yaml

Update SoftwareIcon.tsx
  web/src/components/softwareCloud/SoftwareIcon.tsx
Due: azure-pipelines.web.yaml

migrate PR #1638
  server/src/FilterLists.Data.Migrations/Migrations/20200523072141_1638.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200523072141_1638.cs
Due: none
