Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

azure-pipelines.agent.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-agent-results
    inputs:
      command: volume
      arguments: create test-agent-results
  - task: DockerCompose@0
    displayName: run agent
    inputs:
      dockerComposeFile: docker-compose.agent.tests.yml
  ...

azure-pipelines.api.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-data-results
    inputs:
      command: volume
      arguments: create test-data-results
  - task: DockerCompose@0
    displayName: up test-data db
    inputs:
      dockerComposeFile: docker-compose.data.tests.yml
  ...

azure-pipelines.nginx.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CopyFiles@2
    displayName: stage files
    inputs:
      SourceFolder: $(Build.SourcesDirectory)
      Contents: 'ops/nginx/**
  
        docker-compose.yml
  
        docker-compose.prod.yml
  
        '
      TargetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines.web.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: build
    inputs:
      containerRegistry: github-package-registry
      repository: collinbarrett/filterlists/filterlists.web
      command: build
      Dockerfile: web/Dockerfile
      buildContext: ./web
      tags: 'latest
  
  ...

refactor(directory): ♻ return VM for sample endpoint
  directory/src/FilterLists.Directory.Api/Controllers/FilterListsController.cs
  directory/src/FilterLists.Directory.Application/GetLists.cs
Due: none

build(directory): ✨ use alpine dotnet images
  directory/src/FilterLists.Directory.Api/Dockerfile
Due: none

refactor(directory): ♻ drop a global warning suppression
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

build(directory): 🔨 optimize build output with trimming and self-contained
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
Due: none

refactor(directory): ♻ clear out some unused config
  directory/src/FilterLists.Directory.Api/Properties/launchSettings.json
  directory/src/FilterLists.Directory.Api/appsettings.Development.json
  directory/src/FilterLists.Directory.Api/appsettings.json
Due: none

build(directory): 🔨 apply misc docker build work
  directory/.dockerignore
  directory/src/FilterLists.Directory.Api/Dockerfile
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Api/Properties/launchSettings.json
  directory/src/FilterLists.Directory.Api/appsettings.json
  directory/src/FilterLists.Directory.Api/debug.Dockerfile
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
  docker-compose.override.yml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

build: de-link mv'd dockerignore from dcproj
  docker-compose.dcproj
Due: none

build(directory): 📦 suppress warnings on any config
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

build(directory): 🔨 combine build and publish steps to resolve System.IO.FileNotFoundException
  directory/src/FilterLists.Directory.Api/Dockerfile
Due: none

docs(directory): 📃 add copyright info to csproj files
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
  docker-compose.dcproj
Due: none

refactor(directory): ♻ ren docker image
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor: 🎨 tidy R# config
  FilterLists.sln.DotSettings
Due: none

build(directory): 🔨 globally suppress CA1812
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Api/Startup.cs
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

build(directory): 🔨 apply warning suppressions to both Debug and Release
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

build(directory): 🔨 suppress CA1724 in Application
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

feat(directory): ✨ add initial migration
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
  directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200824012903_Initial.Designer.cs
  directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200824012903_Initial.cs
  directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/QueryDbContextModelSnapshot.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Context/QueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/ServiceRegistrationExtension.cs
Due: none

build(directory): 🔨 target netstandard2.1 for latest api support
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

refactor: add refs to some files in VS sln
  FilterLists.sln
  directory/src/FilterLists.Directory.Api/Dockerfile
  docker-compose.dcproj
Due: none

build(directory): 🔨 PublishReadyToRunShowWarnings
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
Due: none

build(migrations): 🔨 suppress CA1062 in EF-generated code
  directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
Due: none

refactor(web): 🎨 ren reverse-proxy -> server
  web/Dockerfile
  web/server/conf.d/default.conf
Due: azure-pipelines.web.yaml

refactor: ♻ ren some docker-compose resources
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

fix(web): 🐛🔨 fix Dockerfile
  web/Dockerfile
Due: azure-pipelines.web.yaml

build: 🔨 work on docker-compose
  docker-compose.dcproj
  docker-compose.override.yml
  docker-compose.prod.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor: 🎨 mv .sln to services dir, update gitignore
  services/.gitignore
  services/FilterLists.sln
  services/FilterLists.sln.DotSettings
Due: none

refactor: 🎨 update gitignore
  .gitignore
Due: none

fix: 🐛 fix reverse-proxy proxy pass to upstream urls
  reverse-proxy/conf.d.dev/filterlists.conf
  reverse-proxy/conf.d/filterlists.conf
Due: none

refactor(di): ♻ ren ServiceCollectionExtension
  services/directory/src/FilterLists.Directory.Application/ServiceCollectionExtension.cs
  services/directory/src/FilterLists.Directory.Infrastructure/ServiceCollectionExtension.cs
Due: none

build: 🔨 only use reverse-proxy on prod to allow VS to debug directly into dotnet containers
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  reverse-proxy/conf.d.dev/filterlists.conf
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

build: 🔨 update VS dockerignore
  services/.dockerignore
  web/.dockerignore
Due: azure-pipelines.web.yaml

build: 🔨 work on builds
  docker-compose.dev.yml
  docker-compose.override.yml
  docker-compose.yml
  reverse-proxy/conf.d.dev/filterlists.conf
  reverse-proxy/conf.d/filterlists.conf
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(persistence): ♻ extract 'SegmentViewUrls' and 'SegmentViewUrlMirrors'
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200825102124_Initial.Designer.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200825102124_Initial.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/QueryDbContextModelSnapshot.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SegmentViewUrl.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SegmentViewUrlMirror.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
Due: none

refactor(sln): 🎨 mv shared dockerignore to 'Solution Items'
  services/FilterLists.sln
Due: none

refactor(directory): 🎨 extract 'Queries' Application dir
  services/directory/src/FilterLists.Directory.Api/Controllers/FilterListsController.cs
  services/directory/src/FilterLists.Directory.Application/Queries/GetLists.cs
Due: none

refactor: 🎨 include 'dev' docker-compose in dcproj
  docker-compose.dcproj
Due: none

build: 🔨 fix VS debugging db connection
  .env
  services/directory/src/FilterLists.Directory.Api/appsettings.Development.json
Due: none

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web
