Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

docs(archival): 📝 expand TODO
  services/Archival/FilterLists.Archival.Infrastructure/Persistence/GitFileArchiver.cs
Due: none

feat(archival): ✨♻ store txt files in configured dir, ren many members
  services/Archival/FilterLists.Archival.Application/Commands/ArchiveList.cs
  services/Archival/FilterLists.Archival.Application/Models/File.cs
  services/Archival/FilterLists.Archival.Infrastructure/Clients/ConfigurationExtensions.cs
  services/Archival/FilterLists.Archival.Infrastructure/Clients/IFileClient.cs
  services/Archival/FilterLists.Archival.Infrastructure/Clients/IHttpContentClient.cs
  services/Archival/FilterLists.Archival.Infrastructure/Persistence/ConfigurationExtensions.cs
  services/Archival/FilterLists.Archival.Infrastructure/Persistence/FileWriteStrategies/IFileStreamConversionStrategy.cs
  services/Archival/FilterLists.Archival.Infrastructure/Persistence/FileWriteStrategies/IStreamToTxtConversionStrategy.cs
  services/Archival/FilterLists.Archival.Infrastructure/Persistence/FileWriteStrategies/StreamToTxtConversionStrategyFactory.cs
  services/Archival/FilterLists.Archival.Infrastructure/Persistence/FileWriteStrategies/Txt.cs
  services/Archival/FilterLists.Archival.Infrastructure/Persistence/IFile.cs
  services/Archival/FilterLists.Archival.Infrastructure/Persistence/IFileArchiver.cs
  services/Archival/FilterLists.Archival.Infrastructure/Persistence/ITxtFileRepository.cs
Due: none

feat(archival): ✨ catch and log HttpRequestException
  services/Archival/FilterLists.Archival.Infrastructure/Clients/IHttpContentClient.cs
Due: none

fix(archival): 🐛 don't re-create directory when archival is released
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

docs(archival): 📝 add release badge to readme
  .github/README.md
Due: none

feat(archival): ✨ log archive job metrics in DEBUG and RELEASE
  services/Archival/FilterLists.Archival.Application/Commands/EnqueueArchiveAllLists.cs
Due: none

fix(archival): 🐛 temp disable trimming to try resolving FileNotFoundException
  services/Archival/FilterLists.Archival.Api/Dockerfile
Due: none

Revert "fix(archival): 🐛 temp disable trimming to try resolving FileNotFoundException"
  services/Archival/FilterLists.Archival.Api/Dockerfile
Due: none

fix(archival): 🐛 don't trim mscorlib
  services/Archival/FilterLists.Archival.Api/FilterLists.Archival.Api.csproj
Due: none

refactor(services): ♻⚡ exclude pdf from prod builds
  services/Archival/FilterLists.Archival.Api/Dockerfile
  services/Directory/FilterLists.Directory.Api/Dockerfile
Due: none

docs(directory): 📝 add swagger validator badge
  .github/README.md
Due: none

docs(directory): 📝 add link to swagger json from swagger validator badget
  .github/README.md
Due: none

docs(readme): 📝🎨 lint badges
  .github/README.md
Due: none

fix(web): 🐛 proxy web to new localhost port in debug
  web/package.json
Due: azure-pipelines.web.yaml

fix(web): 🐛 configure prettier eol
  web/.prettierrc
Due: azure-pipelines.web.yaml

fix(web): 🐛 show mirror subscribe links
  web/src/components/SubscribeButtons.tsx
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
Due: azure-pipelines.web.yaml

fix(web): 🐛 show Subscribe and View buttons for all mirrors in info drawer
  web/src/components/SubscribeButtons.tsx
  web/src/components/ViewButtons.tsx
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
Due: azure-pipelines.web.yaml

refactor(web): 💄 tighten up footer to fit more rows on screen
  web/src/App.tsx
  web/src/hooks/useTablePageSizer.tsx
  web/src/index.css
Due: azure-pipelines.web.yaml

fix(web): 🐛💄 give footer a bit more space on narrow viewports to prevent overlap
  web/src/hooks/useTablePageSizer.tsx
Due: azure-pipelines.web.yaml

feat(web): 💄🚧 apply dark theme
  web/config-overrides.js
  web/package-lock.json
  web/package.json
  web/src/App.tsx
Due: azure-pipelines.web.yaml

fix(web): 🐛💄 make header bg color match footer
  web/src/App.tsx
Due: azure-pipelines.web.yaml

fix(web): 🐛💄 reset/tighten up some css
  web/config-overrides.js
  web/src/App.tsx
  web/src/components/LinkButton.tsx
  web/src/components/listInfoDrawer/listInfoDrawer.css
  web/src/components/listsTable/ListsTable.tsx
  web/src/components/listsTable/listsTable.css
  web/src/hooks/useTablePageSizer.tsx
Due: azure-pipelines.web.yaml

feat(web): ✨💄 invert logo colors for dark mode
  imgs/logo_filterlists_white.png
Due: none

fix(web): 🐛📦 make less-loader regular dep
  web/package-lock.json
  web/package.json
Due: azure-pipelines.web.yaml

fix(web): 🐛📦 make less regular dep
  web/package-lock.json
  web/package.json
Due: azure-pipelines.web.yaml

refactor(web): ♻⚡ compress new white logo
  web/public/logo_filterlists.png
Due: azure-pipelines.web.yaml

fix(web): 🐛💄 make fixed column bg opaque
  web/src/components/listsTable/ListsTable.module.css
Due: azure-pipelines.web.yaml

feat(web): ✨ hide subscribe links for compressed formats, link tpl subscribe buttons to tpl page
  web/src/components/SubscribeButtons.tsx
Due: azure-pipelines.web.yaml

fix(web): 🐛💄 reduce gap between content and footer on narrow viewports
  web/src/hooks/useTablePageSizer.tsx
Due: azure-pipelines.web.yaml

refacotr(web): 💄 tidy footer links
  web/src/App.tsx
Due: azure-pipelines.web.yaml

Update FilterListViewUrl.json
  services/Directory/data/FilterListViewUrl.json
Due: none
