Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

azure-pipelines.agent.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-agent-results
    inputs:
      command: volume
      arguments: create test-agent-results
  - task: DockerCompose@0
    displayName: run agent
    inputs:
      dockerComposeFile: docker-compose.agent.tests.yml
  ...

azure-pipelines.api.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-data-results
    inputs:
      command: volume
      arguments: create test-data-results
  - task: DockerCompose@0
    displayName: up test-data db
    inputs:
      dockerComposeFile: docker-compose.data.tests.yml
  ...

azure-pipelines.nginx.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CopyFiles@2
    displayName: stage files
    inputs:
      SourceFolder: $(Build.SourcesDirectory)
      Contents: 'ops/nginx/**
  
        docker-compose.yml
  
        docker-compose.prod.yml
  
        '
      TargetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines.web.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: build
    inputs:
      containerRegistry: github-package-registry
      repository: collinbarrett/filterlists/filterlists.web
      command: build
      Dockerfile: web/Dockerfile
      buildContext: ./web
      tags: 'latest
  
  ...

refactor(directory): ♻ run lint.sh
  services/directory/data/FilterListLanguage.json
  services/directory/data/FilterListSegmentViewUrl.json
  services/directory/data/FilterListSyntax.json
  services/directory/data/Language.json
Due: none

refactor(web): ♻ ren License Url
  web/src/components/LicenseTag.tsx
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
  web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

fix(directory): 🐛 fix path to data dir
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/SeedExtensions.cs
Due: none

fix(directory): 🐛 add private setters to all props for EF
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Language.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
Due: none

build(directory): 🔨 PublishReadyToRunShowWarnings
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
Due: none

refactor(web): 🔥 rm props from List interface that were extracted to ListDetails
  web/src/interfaces/List.ts
Due: azure-pipelines.web.yaml

refactor(directory): ♻ ren language key
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200826190733_Initial.Designer.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200826190733_Initial.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/QueryDbContextModelSnapshot.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListLanguage.cs
Due: none

fix(build): 🐛🔨 try fixing enabling docker BuildKit
  services/directory/azure-pipelines.api.yaml
  services/directory/azure-pipelines.migrate.yaml
  web/azure-pipelines.yaml
Due: azure-pipelines.web.yaml

feat(directory): ✨ configure many-to-many relationships
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/DirectoryQueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/DependentTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListLanguageTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/ForkTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/MergeTypeConfiguration.cs
Due: none

refactor(directory): ♻ ren docker image
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(web): 🎨 ren reverse-proxy -> server
  web/Dockerfile
  web/server/conf.d/default.conf
Due: azure-pipelines.web.yaml

fix(directory): 🐛 flatten/normalize viewUrls
  services/directory/data/FilterListViewUrl.json
Due: none

feat(directory): ✨ explicitly pluralize table names that aren't mapped to DbContext
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Dependent.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListLanguage.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListMaintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListTag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Fork.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Merge.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SoftwareSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
Due: none

feat(directory): ✨ flesh out GetSoftware query
  services/directory/src/FilterLists.Directory.Application/Queries/GetSoftware.cs
Due: none

refactor(directory): ♻ async main
  services/directory/src/FilterLists.Directory.Api/Program.cs
Due: none

refactor(directory): ♻ simplify GetMaintainers query
  services/directory/src/FilterLists.Directory.Application/Queries/GetMaintainers.cs
Due: none

feat(directory): ✨ init add'l directory csprojs
  FilterLists.sln
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

build: 🔨🚧 WIP port forward pipeline configs
  docker-compose.prod.yml
  docker-compose.yml
  services/directory/azure-pipelines.api.yaml
  services/directory/azure-pipelines.migrate.yaml
  web/azure-pipelines.yaml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(web): ♻⚡ propagate props to list info drawer to avoid dup api calls
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
  web/src/components/listsTable/ListDrawer.tsx
  web/src/components/listsTable/ListsTableHoc.tsx
Due: azure-pipelines.web.yaml

feat(directory): ✨ add GET maintainers endpoint
  services/directory/src/FilterLists.Directory.Api/Controllers/MaintainersController.cs
  services/directory/src/FilterLists.Directory.Application/Queries/GetMaintainers.cs
Due: none

refactor(directory): ♻ rm surrogate keys from Language.json
  services/directory/data/Language.json
Due: none

feat(directory): 📦 install EF design tools
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
Due: none

feat(directory): ✨🚧 flesh out GetLists query (less viewUrls)
  services/directory/src/FilterLists.Directory.Application/Queries/GetLists.cs
Due: none

build: 🔨 use BuildKit
  services/directory/azure-pipelines.api.yaml
  services/directory/azure-pipelines.migrate.yaml
  web/azure-pipelines.yaml
Due: azure-pipelines.web.yaml

fix(web): ♻ comment some stuff to get web to compile with new api
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
  web/src/components/listsTable/ListDrawer.tsx
  web/src/components/listsTable/ListsTable.tsx
  web/src/components/listsTable/ListsTableHoc.tsx
Due: azure-pipelines.web.yaml

refactor(directory): ♻ clear out some unused config
  directory/src/FilterLists.Directory.Api/Properties/launchSettings.json
  directory/src/FilterLists.Directory.Api/appsettings.Development.json
  directory/src/FilterLists.Directory.Api/appsettings.json
Due: none

feat(web): ✨ re-enable syntax column sort
  web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

feat(directory): ✨ use MediatR query for sample endpoint
  directory/src/FilterLists.Directory.Api/Controllers/FilterListsController.cs
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Application/GetLists.cs
Due: none

build: 🔨 restart always all containers
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

feat(web): ✨ re-enable syntax column (less sorter/filter) w/new SyntaxCloud comp
  web/src/components/listsTable/ListsTable.tsx
  web/src/components/syntaxCloud/SyntaxCloud.module.css
  web/src/components/syntaxCloud/SyntaxCloud.tsx
  web/src/components/syntaxCloud/index.ts
Due: azure-pipelines.web.yaml

build: rm .dev dcompose, nginx-debug in dev mode
  docker-compose.dcproj
  docker-compose.dev.yml
  docker-compose.override.yml
Due: none

feat(directory): ✨ implement GetLists query
  services/FilterLists.sln.DotSettings
  services/directory/src/FilterLists.Directory.Application/Queries/GetLists.cs
Due: none

refactor(directory): ♻ use Language natural key in FilterListLanguage many-to-many
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListLanguage.cs
Due: none

build(directory): ♻ suppress CA1812 warning
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

feat(directory): ✨ init R# and run code cleanup
  FilterLists.sln.DotSettings
  directory/src/FilterLists.Directory.Api/Controllers/WeatherForecastController.cs
  directory/src/FilterLists.Directory.Api/Program.cs
  directory/src/FilterLists.Directory.Api/Startup.cs
  directory/src/FilterLists.Directory.Api/WeatherForecast.cs
  directory/src/FilterLists.Directory.Api/appsettings.Development.json
  directory/src/FilterLists.Directory.Api/appsettings.json
Due: none

build(directory): 🔨 globally suppress CA1812
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Api/Startup.cs
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

refactor: 🎨 update gitignore
  .gitignore
Due: none

feat(directory): ✨ log postgres queries in VS dev
  docker-compose.override.yml
Due: none

refactor(web): ♻ rm List DescriptionSourceUrl from ui
  web/src/components/Description.tsx
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
Due: azure-pipelines.web.yaml

feat(web): ✨🚧 re-enable list info drawer
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
  web/src/components/listsTable/ListsTableHoc.tsx
  web/src/interfaces/ListDetails.ts
Due: azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web
