Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

azure-pipelines.agent.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-agent-results
    inputs:
      command: volume
      arguments: create test-agent-results
  - task: DockerCompose@0
    displayName: run agent
    inputs:
      dockerComposeFile: docker-compose.agent.tests.yml
  ...

azure-pipelines.api.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-data-results
    inputs:
      command: volume
      arguments: create test-data-results
  - task: DockerCompose@0
    displayName: up test-data db
    inputs:
      dockerComposeFile: docker-compose.data.tests.yml
  ...

azure-pipelines.nginx.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CopyFiles@2
    displayName: stage files
    inputs:
      SourceFolder: $(Build.SourcesDirectory)
      Contents: 'ops/nginx/**
  
        docker-compose.yml
  
        docker-compose.prod.yml
  
        '
      TargetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines.web.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: build
    inputs:
      containerRegistry: github-package-registry
      repository: collinbarrett/filterlists/filterlists.web
      command: build
      Dockerfile: web/Dockerfile
      buildContext: ./web
      tags: 'latest
  
  ...

migrate PR #1638
  server/src/FilterLists.Data.Migrations/Migrations/20200523072141_1638.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200523072141_1638.cs
Due: none

Update SoftwareIcon.tsx
  web/src/components/softwareCloud/SoftwareIcon.tsx
Due: azure-pipelines.web.yaml

Add files via upload
  data/FilterList.json
Due: azure-pipelines.api.yaml

Update FilterListMaintainer.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

Add "Watchlist Internet"
  data/FilterList.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

migrate PR #1668
  server/src/FilterLists.Data.Migrations/Migrations/20200606144504_1668.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200606144504_1668.cs
Due: none

Add "phishing" tag to "Watchlist Internet"
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

Revert "migrate PR #1668"
  server/src/FilterLists.Data.Migrations/Migrations/20200606144504_1668.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200606144504_1668.cs
  server/src/FilterLists.Data.Migrations/Migrations/FilterListsDbContextModelSnapshot.cs
Due: none

migrate PR #1668
  server/src/FilterLists.Data.Migrations/Migrations/20200606153653_1668.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200606153653_1668.cs
Due: none

Update FilterListLanguage.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

Update Syntax.json
  data/Syntax.json
Due: azure-pipelines.api.yaml

Update SoftwareSyntax.json
  data/SoftwareSyntax.json
Due: azure-pipelines.api.yaml

migrate PR #1693
  server/src/FilterLists.Data.Migrations/Migrations/20200612061455_1693.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200612061455_1693.cs
Due: none

Update License.json
  data/License.json
Due: azure-pipelines.api.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web
