Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

azure-pipelines.agent.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-agent-results
    inputs:
      command: volume
      arguments: create test-agent-results
  - task: DockerCompose@0
    displayName: run agent
    inputs:
      dockerComposeFile: docker-compose.agent.tests.yml
  ...

azure-pipelines.api.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-data-results
    inputs:
      command: volume
      arguments: create test-data-results
  - task: DockerCompose@0
    displayName: up test-data db
    inputs:
      dockerComposeFile: docker-compose.data.tests.yml
  ...

azure-pipelines.nginx.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CopyFiles@2
    displayName: stage files
    inputs:
      SourceFolder: $(Build.SourcesDirectory)
      Contents: 'ops/nginx/**
  
        docker-compose.yml
  
        docker-compose.prod.yml
  
        '
      TargetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines.web.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: build
    inputs:
      containerRegistry: github-package-registry
      repository: collinbarrett/filterlists/filterlists.web
      command: build
      Dockerfile: web/Dockerfile
      buildContext: ./web
      tags: 'latest
  
  ...

fix(directory): 🐛 fix build context for migrations tests
  docker-compose.migrations.tests.yml
Due: none

refactor(directory): 🎨 organize some infra dirs
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/DirectoryQueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/DirectoryQueryFacade.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/IQueryDirectory.cs
Due: none

refactor(web): ♻🚧 match dto interfaces with revised api/data model
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
  web/src/components/listsTable/ListDrawer.tsx
  web/src/components/listsTable/ListsTable.tsx
  web/src/components/maintainerCloud/MaintainerCloud.tsx
  web/src/components/maintainers/Maintainers.tsx
  web/src/interfaces/Language.ts
  web/src/interfaces/License.ts
  web/src/interfaces/List.ts
  web/src/interfaces/Maintainer.ts
  web/src/interfaces/Software.ts
  web/src/interfaces/Syntax.ts
  web/src/interfaces/Tag.ts
Due: azure-pipelines.web.yaml

feat(directory): ✨ flesh out GetLanguages query
  services/directory/src/FilterLists.Directory.Application/Queries/GetLanguages.cs
Due: none

build(directory): ✨ use alpine dotnet images
  directory/src/FilterLists.Directory.Api/Dockerfile
Due: none

refactor(data): lint PR #1922
  services/directory/data/FilterListLanguage.json
Due: none

build: 🔨🚧 fix hot reloading web in docker
  docker-compose.override.yml
  web/Dockerfile.dev
Due: azure-pipelines.web.yaml

refactor(directory): ♻ use shaddow Id props, mv mappings to entity files
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Contracts/IHaveSurrogateKey.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Dependent.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListLanguage.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListMaintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListTag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Fork.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Language.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Merge.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SoftwareSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Facade/DirectoryQueryDbContext.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/DependentTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListLanguageTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListMaintainerTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListSyntaxTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/FilterListTagTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/ForkTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/LanguageTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/MergeTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/SoftwareSyntaxTypeConfiguration.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Mappings/ViewUrlPartialTypeConfiguration.cs
Due: none

refactor(directory): 🧠 rm extra line breaks
  services/directory/src/FilterLists.Directory.Application/Queries/GetLists.cs
Due: none

refactor(directory): 🎨 extract 'Queries' Application dir
  services/directory/src/FilterLists.Directory.Api/Controllers/FilterListsController.cs
  services/directory/src/FilterLists.Directory.Application/Queries/GetLists.cs
Due: none

Revert "Revert "refactor(web): ♻🚧 match dto interfaces with revised api/data model""
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
  web/src/components/listsTable/ListDrawer.tsx
  web/src/components/listsTable/ListsTable.tsx
  web/src/components/maintainerCloud/MaintainerCloud.tsx
  web/src/components/maintainers/Maintainers.tsx
  web/src/interfaces/Language.ts
  web/src/interfaces/License.ts
  web/src/interfaces/List.ts
  web/src/interfaces/Maintainer.ts
  web/src/interfaces/Software.ts
  web/src/interfaces/Syntax.ts
  web/src/interfaces/Tag.ts
Due: azure-pipelines.web.yaml

build: ♻ misc build updates
  services/directory/azure-pipelines.api.yaml
Due: none

refactor(directory): ♻🎨 lint data
  services/directory/data/Dependent.json
  services/directory/data/FilterListMaintainer.json
  services/directory/data/FilterListSegmentViewUrl.json
  services/directory/data/SoftwareSyntax.json
  services/directory/data/lint.sh
Due: none

build(migrations): 🔨 mv tests to tests dir in build container
  services/directory/src/FilterLists.Directory.Api/Dockerfile
Due: none

fix(build): 🐛 mount named db volume to db container rather than api container
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

build: 🔨🚧 WIP enabling dev hot reload for web
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  reverse-proxy/conf.d.dev/filterlists.conf
  services/FilterLists.sln.DotSettings
  web/.dockerignore
  web/Dockerfile
  web/debug.Dockerfile
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(directory): ♻ make nav collection props read only
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Language.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
Due: none

feat(directory): ✨ add connection string to appsettings for ef tools support
  directory/src/FilterLists.Directory.Api/appsettings.Development.json
Due: none

refactor(directory): ♻🚧 mv viewUrls and mirrors to new json file
  services/FilterLists.sln
  services/directory/data/FilterList.json
  services/directory/data/FilterListSegmentViewUrl.json
Due: none

feat(directory): ✨🚧 update data lint script to match schema changes
  services/directory/data/lint.sh
Due: none

build: ♻ misc build updates
  services/directory/azure-pipelines.migrate.yaml
Due: none

refactor(directory): ♻ ren predicate
  directory/src/FilterLists.Directory.Api/Startup.cs
Due: none

build: 🔨 ren dcproj service name
  docker-compose.dcproj
Due: none

refactor(persistence): ♻ extract 'SegmentViewUrls' and 'SegmentViewUrlMirrors'
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200825102124_Initial.Designer.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200825102124_Initial.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/QueryDbContextModelSnapshot.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SegmentViewUrl.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SegmentViewUrlMirror.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
Due: none

fix(directory): 🐛 ren Software.SupportsAbpUrlScheme in seed data
  services/directory/data/Software.json
Due: none

feat(directory): 📦 add MediatR
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Api/Startup.cs
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Application/ServicesRegistrationExtension.cs
  directory/src/FilterLists.Directory.Infrastructure/ServiceRegistrationExtension.cs
Due: none

feat(directory): ✨ configure required vs optional query entity props
  FilterLists.sln.DotSettings
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Dependent.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListLanguage.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListMaintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListTag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Fork.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Language.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/License.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Maintainer.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Merge.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Software.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/SoftwareSyntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Syntax.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/Tag.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlMirror.cs
  directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/ViewUrlPartial.cs
Due: none

build: re-work docker-compose for VS debugging of web
  docker-compose.dev.yml
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

build: 🔨🚧 apply misc build tweaks
  docker-compose.override.yml
  web/Dockerfile
  web/Dockerfile.dev
Due: azure-pipelines.web.yaml

build(directory): 🔨 apply warning suppressions to both Debug and Release
  directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
  directory/src/FilterLists.Directory.Application/FilterLists.Directory.Application.csproj
  directory/src/FilterLists.Directory.Domain/FilterLists.Directory.Domain.csproj
  directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

refactor(directory): ♻ abandon owned FilterListViewUrl config due to seeding limitation
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200828005349_Initial.Designer.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200828005349_Initial.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/QueryDbContextModelSnapshot.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
  services/directory/src/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterListViewUrl.cs
Due: none

feat(directory): ✨ flesh out GetTags query
  services/directory/src/FilterLists.Directory.Application/Queries/GetTags.cs
Due: none

feat(directory): ✨ finish fleshing out base GET endpoints
  services/directory/src/FilterLists.Directory.Api/Controllers/LanguagesController.cs
  services/directory/src/FilterLists.Directory.Api/Controllers/SoftwareController.cs
  services/directory/src/FilterLists.Directory.Api/Controllers/SyntaxesController.cs
  services/directory/src/FilterLists.Directory.Api/Controllers/TagsController.cs
  services/directory/src/FilterLists.Directory.Application/Queries/GetLanguages.cs
  services/directory/src/FilterLists.Directory.Application/Queries/GetSoftware.cs
  services/directory/src/FilterLists.Directory.Application/Queries/GetSyntaxes.cs
  services/directory/src/FilterLists.Directory.Application/Queries/GetTags.cs
Due: none

refactor(directory): ♻🚧 partial revert 6e0d406 to re-geneerate new viewUrl model
  services/FilterLists.sln
  services/directory/data/FilterList.json
  services/directory/data/FilterListSegmentViewUrl.json
  services/directory/data/FilterListSegmentViewUrlMirror.json
Due: none

build: 🔨 mark dc prod as dependent on base dc
  docker-compose.dcproj
Due: none

build: 🔨🐛 fix directory api build
  services/directory/azure-pipelines.api.yaml
Due: none

fix(directory): 🐛 fix connection string
  .env
  services/directory/src/FilterLists.Directory.Api/appsettings.Development.json
  web/server/conf.d/default.conf
Due: azure-pipelines.web.yaml

build: 🔨 specify gh container registry in compose files
  docker-compose.prod.yml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

fix(build): 🔨🐛 fix bad yaml character in compose
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web
