Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

build: 🔨🚧 WIP enabling dev hot reload for web
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  reverse-proxy/conf.d.dev/filterlists.conf
  services/FilterLists.sln.DotSettings
  web/.dockerignore
  web/Dockerfile
  web/debug.Dockerfile
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

build: 🔨🚧 misc WIP build changes
  docker-compose.override.yml
  docker-compose.yml
  services/directory/src/FilterLists.Directory.Api/Dockerfile
  services/directory/src/FilterLists.Directory.Api/Dockerfile.dev
  web/Dockerfile.dev
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor: ♻ ren dev-mode Dockerfiles
  docker-compose.override.yml
  services/directory/src/FilterLists.Directory.Api/Dockerfile.dev
  web/.dockerignore
  web/Dockerfile.dev
Due: azure-pipelines.web.yaml

Revert "refactor(web): ♻🚧 match dto interfaces with revised api/data model"
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
  web/src/components/listsTable/ListDrawer.tsx
  web/src/components/listsTable/ListsTable.tsx
  web/src/components/maintainerCloud/MaintainerCloud.tsx
  web/src/components/maintainers/Maintainers.tsx
  web/src/interfaces/Language.ts
  web/src/interfaces/License.ts
  web/src/interfaces/List.ts
  web/src/interfaces/Maintainer.ts
  web/src/interfaces/Software.ts
  web/src/interfaces/Syntax.ts
  web/src/interfaces/Tag.ts
Due: azure-pipelines.web.yaml

build: 🔨 restart always all containers
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

fix(directory): 🐛 fix connection string for dev
  services/directory/src/FilterLists.Directory.Api/appsettings.Development.json
Due: none

build: 🔨⚡ optimize published artifact only in prod
  services/directory/src/FilterLists.Directory.Api/Dockerfile
  services/directory/src/FilterLists.Directory.Api/FilterLists.Directory.Api.csproj
Due: none

build: 🔨🚧 apply misc build tweaks
  docker-compose.override.yml
  web/Dockerfile
  web/Dockerfile.dev
Due: azure-pipelines.web.yaml

build: 🔨🚧 fix hot reloading web in docker
  docker-compose.override.yml
  web/Dockerfile.dev
Due: azure-pipelines.web.yaml

build: 🔨 dockerignore .env
  web/.dockerignore
Due: azure-pipelines.web.yaml

build: 🔨 dev on web outside of docker
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  reverse-proxy/conf.d.dev/filterlists.conf
  web/Dockerfile.dev
  web/package.json
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Revert "Revert "refactor(web): ♻🚧 match dto interfaces with revised api/data model""
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
  web/src/components/listsTable/ListDrawer.tsx
  web/src/components/listsTable/ListsTable.tsx
  web/src/components/maintainerCloud/MaintainerCloud.tsx
  web/src/components/maintainers/Maintainers.tsx
  web/src/interfaces/Language.ts
  web/src/interfaces/License.ts
  web/src/interfaces/List.ts
  web/src/interfaces/Maintainer.ts
  web/src/interfaces/Software.ts
  web/src/interfaces/Syntax.ts
  web/src/interfaces/Tag.ts
Due: azure-pipelines.web.yaml

refactor(web): ♻ rm PublishedDate from ui
  web/src/components/PublishedDate.tsx
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
Due: azure-pipelines.web.yaml

refactor(web): ♻ rm List DescriptionSourceUrl from ui
  web/src/components/Description.tsx
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
Due: azure-pipelines.web.yaml

feat(directory): ✨ fetch viewUrls from lists endpoint
  services/directory/src/FilterLists.Directory.Application/Queries/GetLists.cs
Due: none

refactor(web): ♻ ren License Url
  web/src/components/LicenseTag.tsx
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
  web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

feat(web): ✨ add ListDetails interface and hook
  web/src/hooks/index.ts
  web/src/hooks/useListDetails.tsx
  web/src/interfaces/ListDetails.ts
Due: azure-pipelines.web.yaml

refactor(directory): ♻ break off a list details endpoint
  services/directory/src/FilterLists.Directory.Api/Controllers/ListsController.cs
  services/directory/src/FilterLists.Directory.Application/Queries/GetListDetails.cs
  services/directory/src/FilterLists.Directory.Application/Queries/GetLists.cs
Due: none

refactor(web): 🔥 rm props from List interface that were extracted to ListDetails
  web/src/interfaces/List.ts
Due: azure-pipelines.web.yaml

feat(web): ✨ re-enable lang column (less sorter)
  web/src/components/listsTable/ListsTable.tsx
  web/src/interfaces/List.ts
Due: azure-pipelines.web.yaml

fix(web): ♻ comment some stuff to get web to compile with new api
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
  web/src/components/listsTable/ListDrawer.tsx
  web/src/components/listsTable/ListsTable.tsx
  web/src/components/listsTable/ListsTableHoc.tsx
Due: azure-pipelines.web.yaml

feat(web): ✨ re-enable software column
  web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

feat(web): ✨ re-enable syntax column (less sorter/filter) w/new SyntaxCloud comp
  web/src/components/listsTable/ListsTable.tsx
  web/src/components/syntaxCloud/SyntaxCloud.module.css
  web/src/components/syntaxCloud/SyntaxCloud.tsx
  web/src/components/syntaxCloud/index.ts
Due: azure-pipelines.web.yaml

feat(web): ✨ re-enable syntax column sort
  web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

feat(web): ✨ re-enable syntax column filter
  web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

feat(web): ✨ re-enable langs column sort
  web/src/components/listsTable/ListsTable.tsx
  web/src/components/listsTable/arraySorter.ts
Due: azure-pipelines.web.yaml

feat(web): ✨🚧 re-enable list info drawer
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
  web/src/components/listsTable/ListsTableHoc.tsx
  web/src/interfaces/ListDetails.ts
Due: azure-pipelines.web.yaml

refactor(web): ♻⚡ propagate props to list info drawer to avoid dup api calls
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
  web/src/components/listsTable/ListDrawer.tsx
  web/src/components/listsTable/ListsTableHoc.tsx
Due: azure-pipelines.web.yaml

refactor(web): ♻ add key to components of SyntaxCloud
  web/src/components/syntaxCloud/SyntaxCloud.tsx
Due: azure-pipelines.web.yaml

feat(reverse-proxy): ✨ port forward pipeline config
  reverse-proxy/azure-pipelines.yaml
Due: none

build: 🔨🚧 WIP port forward pipeline configs
  docker-compose.prod.yml
  docker-compose.yml
  services/directory/azure-pipelines.api.yaml
  services/directory/azure-pipelines.migrate.yaml
  web/azure-pipelines.yaml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

build: 🔨 use BuildKit
  services/directory/azure-pipelines.api.yaml
  services/directory/azure-pipelines.migrate.yaml
  web/azure-pipelines.yaml
Due: azure-pipelines.web.yaml

feat: ✨ add migrations test to pipeline
  docker-compose.dcproj
  docker-compose.migrations.tests.yml
  services/FilterLists.sln
  services/directory/azure-pipelines.migrate.yaml
  services/directory/docker-compose.migrations.tests.yml
  services/directory/src/FilterLists.Directory.Api/Dockerfile
  services/directory/src/FilterLists.Directory.Api/Dockerfile.dev
  services/directory/tests/FilterLists.Directory.Infrastructure.Migrations.Tests/FilterLists.Directory.Infrastructure.Migrations.Tests.csproj
  services/directory/tests/FilterLists.Directory.Infrastructure.Migrations.Tests/SeedQueryDbContextTest.cs
Due: none

refactor: ♻🔨 update dockerignores
  services/.dockerignore
  web/.dockerignore
Due: azure-pipelines.web.yaml

refactor(directory): 🔥 rm dup docker-compose config
  services/directory/docker-compose.migrations.tests.yml
Due: none

fix(build): 🐛🔨 try fixing enabling docker BuildKit
  services/directory/azure-pipelines.api.yaml
  services/directory/azure-pipelines.migrate.yaml
  web/azure-pipelines.yaml
Due: azure-pipelines.web.yaml

fix(directory): 🐛 fix build context for migrations tests
  docker-compose.migrations.tests.yml
Due: none

build: 🔨⚡ shallow fetch for build
  services/directory/azure-pipelines.api.yaml
  web/azure-pipelines.yaml
Due: azure-pipelines.web.yaml
