Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

Update index.ts
  web/src/components/softwareCloud/imgs/index.ts
Due: azure-pipelines.web.yaml

Update Syntax.json
  data/Syntax.json
Due: azure-pipelines.api.yaml

migrate PR #1559
  server/src/FilterLists.Data.Migrations/Migrations/20200423180837_1559.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200423180837_1559.cs
Due: none

Update Tag.json
  data/Tag.json
Due: azure-pipelines.api.yaml

Update Software.json
  data/Software.json
Due: azure-pipelines.api.yaml

Add files via upload
  web/src/components/softwareCloud/imgs/41-Surge.png
Due: azure-pipelines.web.yaml

Update FilterListMaintainer.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

migrate PR #1559
  server/src/FilterLists.Data.Migrations/Migrations/20200423183526_1559.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200423183526_1559.cs
Due: none

Update SoftwareSyntax.json
  data/SoftwareSyntax.json
Due: azure-pipelines.api.yaml

Add files via upload
  data/FilterList.json
Due: azure-pipelines.api.yaml

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

Update SoftwareIcon.tsx
  web/src/components/softwareCloud/SoftwareIcon.tsx
Due: azure-pipelines.web.yaml

Update SubscribeButtons.tsx
  web/src/components/SubscribeButtons.tsx
Due: azure-pipelines.web.yaml

add GitHub Sponsors button
  .github/FUNDING.yml
Due: none

Update FilterListLanguage.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

migrate PR #1579
  server/src/FilterLists.Data.Migrations/Migrations/20200501115116_1579.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200501115116_1579.cs
Due: none
