Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

Update FilterListMaintainer.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

Add files via upload
  data/FilterList.json
Due: azure-pipelines.api.yaml

Update TPLSubscriptionAssistant.html
  data/TPLSubscriptionAssistant.html
Due: azure-pipelines.api.yaml

Trying out a long-shot
  data/Tag.json
Due: azure-pipelines.api.yaml

enable sensitive data logging during data test to help determine data errors
  server/tests/FilterLists.Data.Tests/SeedFilterListsDbContextTests.cs
Due: none

enable sensitive data logging during data test to help determine data errors
  server/src/FilterLists.Services/DependencyInjection/Extensions/ConfigureServicesCollection.cs
Due: none

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

migrate PR #1438
  server/src/FilterLists.Data.Migrations/Migrations/20200309192548_1438.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200309192548_1438.cs
Due: none

Update Tag.json
  data/Tag.json
Due: azure-pipelines.api.yaml

Update FilterListLanguage.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

update to ant4
  web/package-lock.json
  web/package.json
Due: azure-pipelines.web.yaml

run ant's codemod tool
  web/src/App.tsx
  web/src/components/LinkButton.tsx
  web/src/components/ListInfoButton.tsx
  web/src/components/SubscribeButtons.tsx
  web/src/components/maintainers/Maintainers.tsx
  web/src/hooks/useSearchColumnFilter.tsx
Due: azure-pipelines.web.yaml

WIP: update Button icon input type
  web/src/components/LinkButton.tsx
Due: azure-pipelines.web.yaml

migrate ListsTable.tsx
  web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

migrate useSearchColumnFilter
  web/src/hooks/useSearchColumnFilter.tsx
Due: azure-pipelines.web.yaml

simplify checkout source branch step
  server/azure-pipelines.migrate.yaml
Due: none

shallow clone
  server/azure-pipelines.migrate.yaml
Due: none

TEMP: test data change
  data/FilterList.json
Due: azure-pipelines.api.yaml

re-add '.' to specify clone target directory
  server/azure-pipelines.migrate.yaml
Due: none

migrate PR #1450
  server/src/FilterLists.Data.Migrations/Migrations/20200315190945_1450.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200315190945_1450.cs
Due: none

shallow fetch when syncing with upstream
  server/azure-pipelines.migrate.yaml
Due: none

don't shallow-fetch PR branch so that reverting existing migration can occur
  server/azure-pipelines.migrate.yaml
Due: none

Revert "migrate PR #1450"
  server/src/FilterLists.Data.Migrations/Migrations/20200315190945_1450.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200315190945_1450.cs
  server/src/FilterLists.Data.Migrations/Migrations/FilterListsDbContextModelSnapshot.cs
Due: none

migrate PR #1450
  server/src/FilterLists.Data.Migrations/Migrations/20200315192736_1450.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200315192736_1450.cs
Due: none

revert shallow clone as merge fails
  server/azure-pipelines.migrate.yaml
Due: none
