Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

Update FilterList.json
  data/FilterList.json
Due: azure-pipelines.api.yaml

Add files via upload
  web/src/components/softwareCloud/imgs/40-Opera.png
Due: azure-pipelines.web.yaml

Update index.ts
  web/src/components/softwareCloud/imgs/index.ts
Due: azure-pipelines.web.yaml

Update SoftwareSyntax.json
  data/SoftwareSyntax.json
Due: azure-pipelines.api.yaml

Update FilterListLanguage.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

Update FilterListMaintainer.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

Update Syntax.json
  data/Syntax.json
Due: azure-pipelines.api.yaml

Update SoftwareIcon.tsx
  web/src/components/softwareCloud/SoftwareIcon.tsx
Due: azure-pipelines.web.yaml

Update Software.json
  data/Software.json
Due: azure-pipelines.api.yaml

fix missing comma from #1343
  web/src/components/softwareCloud/SoftwareIcon.tsx
Due: azure-pipelines.web.yaml

optimize Web build
  web/.dockerignore
  web/.env
  web/Dockerfile
Due: azure-pipelines.web.yaml

update Web tsconfig
  web/tsconfig.json
Due: azure-pipelines.web.yaml

update CRA deps
  web/package-lock.json
  web/package.json
Due: azure-pipelines.web.yaml

re-add CRA eject in case it's needed
  web/package.json
Due: azure-pipelines.web.yaml

mv nginx az pipes config to nginx dir
  ops/nginx/azure-pipelines.yaml
Due: azure-pipelines.nginx.yaml

add node_modules to Web dockerignore
  web/.dockerignore
Due: azure-pipelines.web.yaml

add node-gyp deps in node:alpine image
  web/Dockerfile
Due: azure-pipelines.web.yaml

fix img name typo in #1343
  web/src/components/softwareCloud/SoftwareIcon.tsx
Due: azure-pipelines.web.yaml

resolve SonarQube S3433 warning to try to fix test fail in CI
  server/tests/FilterLists.Services.Tests/Extensions/TaskExtensionsTests.cs
Due: none

upgrade to netcore3.1
  server/src/FilterLists.Agent/Dockerfile
  server/src/FilterLists.Agent/FilterLists.Agent.csproj
  server/src/FilterLists.Api/Dockerfile
  server/src/FilterLists.Api/FilterLists.Api.csproj
  server/tests/FilterLists.Agent.Tests/FilterLists.Agent.Tests.csproj
  server/tests/FilterLists.Data.Tests/FilterLists.Data.Tests.csproj
  server/tests/FilterLists.Services.Tests/FilterLists.Services.Tests.csproj
Due: none

update nugets
  .dockerignore
  server/src/FilterLists.Agent/FilterLists.Agent.csproj
  server/src/FilterLists.Api/FilterLists.Api.csproj
  server/src/FilterLists.Data/FilterLists.Data.csproj
  server/src/FilterLists.Services/FilterLists.Services.csproj
  server/tests/FilterLists.Agent.Tests/FilterLists.Agent.Tests.csproj
  server/tests/FilterLists.Data.Tests/FilterLists.Data.Tests.csproj
  server/tests/FilterLists.Services.Tests/FilterLists.Services.Tests.csproj
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml

update path to server .dockerignore in az pipes config
  server/azure-pipelines.agent.yaml
  server/azure-pipelines.api.yaml
Due: none
