Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

Update SoftwareSyntax.json
  data/SoftwareSyntax.json
Due: azure-pipelines.api.yaml

feat(data): migrate PR #1762
  server/src/FilterLists.Data.Migrations/Migrations/20200713003239_1762.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200713003239_1762.cs
Due: none

Update Tag.json
  data/Tag.json
Due: azure-pipelines.api.yaml

Update Syntax.json
  data/Syntax.json
Due: azure-pipelines.api.yaml

refactor(data): lint PR #1762
  data/FilterList.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

Add files via upload
  data/FilterList.json
Due: azure-pipelines.api.yaml

docs(phishing-filter): mention OpenPhish
  data/FilterList.json
Due: azure-pipelines.api.yaml

feat(data): migrate PR #1763
  server/src/FilterLists.Data.Migrations/Migrations/20200713024557_1763.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200713024557_1763.cs
Due: none

feat(data): update Xpi Yahoo Complete Filters for #1788
  data/FilterList.json
Due: azure-pipelines.api.yaml

feat(data): migrate PR #1789
  server/src/FilterLists.Data.Migrations/Migrations/20200715224350_1789.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200715224350_1789.cs
Due: none

docs(phishing-filter): relicense under CC BY-SA 4.0
  data/FilterList.json
Due: azure-pipelines.api.yaml

feat(data): migrate PR #1800
  server/src/FilterLists.Data.Migrations/Migrations/20200721003002_1800.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200721003002_1800.cs
Due: none

Update meta data of Yuki2718's lists and add a few newer ones
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

feat(data): migrate PR #1817
  server/src/FilterLists.Data.Migrations/Migrations/20200723171633_1817.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200723171633_1817.cs
Due: none

Update Software.json
  data/Software.json
Due: azure-pipelines.api.yaml

Update FilterListLanguage.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

Add files via upload
  web/src/components/softwareCloud/imgs/43-SmartDNS.png
Due: azure-pipelines.web.yaml

Update index.ts
  web/src/components/softwareCloud/imgs/index.ts
Due: azure-pipelines.web.yaml

Update SoftwareIcon.tsx
  web/src/components/softwareCloud/SoftwareIcon.tsx
Due: azure-pipelines.web.yaml

Add uBlock Japanese filters family
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

feat(data): migrate PR #1826
  server/src/FilterLists.Data.Migrations/Migrations/20200726162808_1826.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200726162808_1826.cs
Due: none

refactor(data): lint PR #1825
  data/FilterList.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml
