Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

azure-pipelines.agent.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-agent-results
    inputs:
      command: volume
      arguments: create test-agent-results
  - task: DockerCompose@0
    displayName: run agent
    inputs:
      dockerComposeFile: docker-compose.agent.tests.yml
  ...

azure-pipelines.api.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: create volume test-data-results
    inputs:
      command: volume
      arguments: create test-data-results
  - task: DockerCompose@0
    displayName: up test-data db
    inputs:
      dockerComposeFile: docker-compose.data.tests.yml
  ...

azure-pipelines.nginx.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CopyFiles@2
    displayName: stage files
    inputs:
      SourceFolder: $(Build.SourcesDirectory)
      Contents: 'ops/nginx/**
  
        docker-compose.yml
  
        docker-compose.prod.yml
  
        '
      TargetFolder: $(Build.ArtifactStagingDirectory)
  ...

azure-pipelines.web.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: build
    inputs:
      containerRegistry: github-package-registry
      repository: collinbarrett/filterlists/filterlists.web
      command: build
      Dockerfile: web/Dockerfile
      buildContext: ./web
      tags: 'latest
  
  ...

Update FilterList.json
  data/FilterList.json
Due: azure-pipelines.api.yaml

Update Syntax.json
  data/Syntax.json
Due: azure-pipelines.api.yaml

Update SoftwareSyntax.json
  data/SoftwareSyntax.json
Due: azure-pipelines.api.yaml

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

migrate PR #1392
  server/src/FilterLists.Data.Migrations/Migrations/20200219205631_1392.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200219205631_1392.cs
Due: none

Update index.ts
  web/src/components/softwareCloud/imgs/index.ts
Due: azure-pipelines.web.yaml

Add files via upload
  web/src/components/softwareCloud/imgs/31-AdGuard-Home.svg
  web/src/components/softwareCloud/imgs/38-DNSRedirector.png
  web/src/components/softwareCloud/imgs/39-pfBlockerNG.png
Due: azure-pipelines.web.yaml

Update FilterListLanguage.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

fix weird bin diff on svg
  web/src/components/softwareCloud/imgs/31-AdGuard-Home.svg
Due: azure-pipelines.web.yaml

migrate PR #1411
  server/src/FilterLists.Data.Migrations/Migrations/20200225222720_1411.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200225222720_1411.cs
Due: none

update nuget
  server/src/FilterLists.Agent/FilterLists.Agent.csproj
Due: none

filter migrate no-op determination to only migrations dir
  server/azure-pipelines.migrate.yaml
Due: none

Add files via upload
  data/FilterList.json
Due: azure-pipelines.api.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web
