Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

docs(readme): 📝 mv TPL note
  .github/README.md
Due: none

refactor(services): ♻🎨 pascal-case SharedKernel
  .github/dependabot.yml
  services/FilterLists.sln
  services/SharedKernel/src/FilterLists.SharedKernel.Logging/ConfigurationBuilder.cs
  services/SharedKernel/src/FilterLists.SharedKernel.Logging/ConfigurationExtensions.cs
  services/SharedKernel/src/FilterLists.SharedKernel.Logging/FilterLists.SharedKernel.Logging.csproj
  services/SharedKernel/src/FilterLists.SharedKernel.Logging/HostRunner.cs
  services/archival/src/FilterLists.Archival.Api/Dockerfile
  services/archival/src/FilterLists.Archival.Api/Dockerfile.dev
  services/archival/src/FilterLists.Archival.Infrastructure/FilterLists.Archival.Infrastructure.csproj
  services/directory/src/FilterLists.Directory.Api/Dockerfile
  services/directory/src/FilterLists.Directory.Api/Dockerfile.dev
  services/directory/src/FilterLists.Directory.Api/Dockerfile.migrate
  services/directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

refactor(services): ♻🎨 pascal-case Archival
  .github/dependabot.yml
  docker-compose.override.yml
  docker-compose.prod.build.yml
  services/Archival/src/FilterLists.Archival.Api/Dockerfile
  services/Archival/src/FilterLists.Archival.Api/Dockerfile.dev
  services/Archival/src/FilterLists.Archival.Api/FilterLists.Archival.Api.csproj
  services/Archival/src/FilterLists.Archival.Api/Program.cs
  services/Archival/src/FilterLists.Archival.Api/Properties/launchSettings.json
  services/Archival/src/FilterLists.Archival.Api/Startup.cs
  services/Archival/src/FilterLists.Archival.Application/ConfigurationExtensions.cs
  services/Archival/src/FilterLists.Archival.Application/FilterLists.Archival.Application.csproj
  services/Archival/src/FilterLists.Archival.Infrastructure/ConfigurationExtensions.cs
  services/Archival/src/FilterLists.Archival.Infrastructure/FilterLists.Archival.Infrastructure.csproj
  services/Archival/src/FilterLists.Archival.Infrastructure/Options/GitOptions.cs
  services/Archival/src/FilterLists.Archival.Infrastructure/Persistence/ConfigurationExtensions.cs
  services/Archival/src/FilterLists.Archival.Infrastructure/Persistence/GitFileArchiver.cs
  services/Archival/src/FilterLists.Archival.Infrastructure/Persistence/IArchiveFile.cs
  services/Archival/src/FilterLists.Archival.Infrastructure/Scheduling/ConfigurationExtensions.cs
  services/FilterLists.sln
  services/archival/src/FilterLists.Archival.Api/Dockerfile.dev
Due: none

refactor(services): 🚑♻🎨 hotfix sln from last
  services/FilterLists.sln
Due: none

docs(readme): 🐛 fix broken links
  .github/README.md
Due: none

fix(services): 🐛 fix some broken project refs
  services/Archival/FilterLists.Archival.Infrastructure/FilterLists.Archival.Infrastructure.csproj
  services/Directory/FilterLists.Directory.Infrastructure.Migrations.Tests/FilterLists.Directory.Infrastructure.Migrations.Tests.csproj
  services/Directory/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
Due: none

feat(logging): ✨ configure Application Insights ServerTelemetryChannel directory
  docker-compose.yml
  services/SharedKernel/FilterLists.SharedKernel.Logging/ConfigurationExtensions.cs
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

docs: 📃 add container description labels
  services/Archival/FilterLists.Archival.Api/Dockerfile
  services/Directory/FilterLists.Directory.Api/Dockerfile
  web/Dockerfile
Due: azure-pipelines.web.yaml

fix(web): 🐛 rm dup syntax name in filter dropdown
  web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

fix(web): 🐛 fix syntax filter not returning lists with multiple syntaxes
  web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

fix(web): 🐛 resolve react warning re complex var in hook
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
Due: azure-pipelines.web.yaml

fix(web): 🐛 fix title on api footer link
  web/src/App.tsx
Due: azure-pipelines.web.yaml

feat(directory): ✨ add explicit API response types for swagger ui
  services/Directory/FilterLists.Directory.Api/Controllers/LanguagesController.cs
  services/Directory/FilterLists.Directory.Api/Controllers/LicensesController.cs
  services/Directory/FilterLists.Directory.Api/Controllers/ListsController.cs
  services/Directory/FilterLists.Directory.Api/Controllers/MaintainersController.cs
  services/Directory/FilterLists.Directory.Api/Controllers/SoftwareController.cs
  services/Directory/FilterLists.Directory.Api/Controllers/SyntaxesController.cs
  services/Directory/FilterLists.Directory.Api/Controllers/TagsController.cs
  services/Directory/FilterLists.Directory.Api/Startup.cs
Due: none

Update Syntax.json
  services/Directory/data/Syntax.json
Due: none

fix(web): 🐛 fix license not showing in info drawer
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
Due: azure-pipelines.web.yaml

feat(web): ✨ show onionUrl if exists in info drawer
  web/src/components/listInfoDrawer/ListInfoDrawer.tsx
Due: azure-pipelines.web.yaml

refactor(web): ♻ use IE icon for TPL footer link
  web/src/App.tsx
Due: azure-pipelines.web.yaml

Update FilterListSyntax.json
  services/Directory/data/FilterListSyntax.json
Due: none

feat(directory): ✨ make licenseId required and defaulted
  services/Directory/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200912193338_LicenseRequiredDefaulted.Designer.cs
  services/Directory/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200912193338_LicenseRequiredDefaulted.cs
  services/Directory/FilterLists.Directory.Infrastructure/Persistence/Queries/Entities/FilterList.cs
Due: none

fix(directory): 🐛 rm obsolete 'src' sub-dir
  services/Directory/azure-pipelines.migrate.yaml
Due: none

feat(services): ✨ opt-out dotnet cli telemetry
  services/Archival/FilterLists.Archival.Api/Dockerfile
  services/Archival/FilterLists.Archival.Api/Dockerfile.dev
  services/Directory/FilterLists.Directory.Api/Dockerfile
  services/Directory/FilterLists.Directory.Api/Dockerfile.dev
  services/Directory/FilterLists.Directory.Api/Dockerfile.migrate
  services/Directory/azure-pipelines.migrate.yaml
Due: none

Added 12 lists
  services/Directory/data/FilterList.json
Due: none

Update FilterListTag.json
  services/Directory/data/FilterListTag.json
Due: none

Update FilterListMaintainer.json
  services/Directory/data/FilterListMaintainer.json
Due: none

Update FilterListLanguage.json
  services/Directory/data/FilterListLanguage.json
Due: none

Update SoftwareSyntax.json
  services/Directory/data/SoftwareSyntax.json
Due: none

Add files via upload
  web/src/components/softwareCloud/imgs/44-AdGuard-for-WindowsMac.svg
  web/src/components/softwareCloud/imgs/45-AdGuard-for-Android.svg
Due: azure-pipelines.web.yaml

fix(directory): 🐛 fix path to data files
  services/Directory/FilterLists.Directory.Infrastructure/Persistence/SeedExtensions.cs
Due: none

Update FilterList.json
  services/Directory/data/FilterList.json
Due: none

test(directory): 🚧 [revert me] test data with required licenseId
  services/Directory/data/FilterList.json
Due: none

refactor(shared-kernel): ♻ suppress acceptable warning
  services/SharedKernel/FilterLists.SharedKernel.Logging/HostRunner.cs
Due: none

refactor(logging): ♻ rm deprecated TelemetryConfiguration.Active
  services/SharedKernel/FilterLists.SharedKernel.Logging/ConfigurationBuilder.cs
Due: none
