Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

Update FilterListTag.json
  data/FilterListTag.json
Due: azure-pipelines.api.yaml

Update FilterListLanguage.json
  data/FilterListLanguage.json
Due: azure-pipelines.api.yaml

Update ListsTable.tsx
  web/src/components/listsTable/ListsTable.tsx
Due: azure-pipelines.web.yaml

Add files via upload
  data/FilterList.json
Due: azure-pipelines.api.yaml

Update TPLSubscriptionAssistant.html
  data/TPLSubscriptionAssistant.html
Due: azure-pipelines.api.yaml

Update FilterListMaintainer.json
  data/FilterListMaintainer.json
Due: azure-pipelines.api.yaml

migrate PR #1423
  server/src/FilterLists.Data.Migrations/Migrations/20200229030034_1423.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200229030034_1423.cs
Due: none

Update FilterList.json
  data/FilterList.json
Due: azure-pipelines.api.yaml

migrate PR #1428
  server/src/FilterLists.Data.Migrations/Migrations/20200304171012_1428.Designer.cs
  server/src/FilterLists.Data.Migrations/Migrations/20200304171012_1428.cs
Due: none

Update Tag.json
  data/Tag.json
Due: azure-pipelines.api.yaml
