Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

feat(data): migrate PR #1962
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200910083959_1962.Designer.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200910083959_1962.cs
Due: none

Update index.ts
  web/src/components/softwareCloud/imgs/index.ts
Due: azure-pipelines.web.yaml

fix(directory): 🐛 only grep previous migrate commit by message
  services/directory/azure-pipelines.migrate.yaml
Due: none

Revert "feat(data): migrate PR #1962"
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200910083959_1962.Designer.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200910083959_1962.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/QueryDbContextModelSnapshot.cs
Due: none

feat(data): migrate PR #1962
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200910091959_1962.Designer.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200910091959_1962.cs
Due: none

Update Syntax.json
  services/directory/data/Syntax.json
Due: none

Add files via upload
  web/src/components/softwareCloud/imgs/44-AdGuard-for-WindowsMac.svg
Due: azure-pipelines.web.yaml

Update SoftwareIcon.tsx
  web/src/components/softwareCloud/SoftwareIcon.tsx
Due: azure-pipelines.web.yaml

Update FilterListSyntax.json
  services/directory/data/FilterListSyntax.json
Due: none

Update FilterList.json
  services/directory/data/FilterList.json
Due: none

Update FilterListViewUrl.json
  services/directory/data/FilterListViewUrl.json
Due: none

Update FilterListTag.json
  services/directory/data/FilterListTag.json
Due: none

Add files via upload
  web/src/components/softwareCloud/imgs/45-AdGuard-for-Android.svg
Due: azure-pipelines.web.yaml

Update SoftwareSyntax.json
  services/directory/data/SoftwareSyntax.json
Due: none

Update FilterListLanguage.json
  services/directory/data/FilterListLanguage.json
Due: none

refactor(data): lint PR #1962
  services/directory/data/FilterList.json
  services/directory/data/FilterListLanguage.json
  services/directory/data/FilterListMaintainer.json
  services/directory/data/FilterListViewUrl.json
  services/directory/data/SoftwareSyntax.json
Due: none

Update Software.json
  services/directory/data/Software.json
Due: none

Update FilterListMaintainer.json
  services/directory/data/FilterListMaintainer.json
Due: none

feat(services): ✨ add Serilog
  .github/dependabot.yml
  services/FilterLists.sln
  services/archival/src/FilterLists.Archival.Api/Dockerfile
  services/archival/src/FilterLists.Archival.Api/Dockerfile.dev
  services/archival/src/FilterLists.Archival.Api/Program.cs
  services/archival/src/FilterLists.Archival.Application/ConfigurationExtensions.cs
  services/archival/src/FilterLists.Archival.Infrastructure/ConfigurationExtensions.cs
  services/archival/src/FilterLists.Archival.Infrastructure/Persistence/ConfigurationExtensions.cs
  services/archival/src/FilterLists.Archival.Infrastructure/Scheduling/ConfigurationExtensions.cs
  services/directory/src/FilterLists.Directory.Api/Dockerfile
  services/directory/src/FilterLists.Directory.Api/Dockerfile.dev
  services/directory/src/FilterLists.Directory.Api/Dockerfile.migrate
  services/directory/src/FilterLists.Directory.Api/Program.cs
  services/directory/src/FilterLists.Directory.Application/ConfigurationExtensions.cs
  services/directory/src/FilterLists.Directory.Infrastructure/ConfigurationExtensions.cs
  services/directory/src/FilterLists.Directory.Infrastructure/FilterLists.Directory.Infrastructure.csproj
  services/sharedKernel/src/FilterLists.SharedKernel.Logging/ConfigurationExtensions.cs
  services/sharedKernel/src/FilterLists.SharedKernel.Logging/FilterLists.SharedKernel.Logging.csproj
  services/sharedKernel/src/FilterLists.SharedKernel.Logging/HostRunner.cs
Due: none

refactor(logging): ♻ extract LoggerConfiguration
  services/sharedKernel/src/FilterLists.SharedKernel.Logging/Configuration.cs
  services/sharedKernel/src/FilterLists.SharedKernel.Logging/HostRunner.cs
Due: none

feat(logging): ✨ add Serilog Request logging
  services/archival/src/FilterLists.Archival.Api/Startup.cs
  services/archival/src/FilterLists.Archival.Infrastructure/ConfigurationExtensions.cs
  services/directory/src/FilterLists.Directory.Api/Startup.cs
  services/directory/src/FilterLists.Directory.Application/ConfigurationExtensions.cs
  services/directory/src/FilterLists.Directory.Infrastructure/ConfigurationExtensions.cs
  services/sharedKernel/src/FilterLists.SharedKernel.Logging/Configuration.cs
  services/sharedKernel/src/FilterLists.SharedKernel.Logging/ConfigurationExtensions.cs
Due: none

feat(logging): ✨ add ApplicationInsights sink
  services/archival/src/FilterLists.Archival.Api/Program.cs
  services/directory/src/FilterLists.Directory.Api/Program.cs
  services/sharedKernel/src/FilterLists.SharedKernel.Logging/Configuration.cs
  services/sharedKernel/src/FilterLists.SharedKernel.Logging/ConfigurationBuilder.cs
  services/sharedKernel/src/FilterLists.SharedKernel.Logging/FilterLists.SharedKernel.Logging.csproj
  services/sharedKernel/src/FilterLists.SharedKernel.Logging/HostRunner.cs
Due: none

feat(logging): ✨ AddApplicationInsightsTelemetry
  .env
  docker-compose.yml
  services/archival/src/FilterLists.Archival.Infrastructure/ConfigurationExtensions.cs
  services/directory/src/FilterLists.Directory.Infrastructure/ConfigurationExtensions.cs
  services/sharedKernel/src/FilterLists.SharedKernel.Logging/ConfigurationExtensions.cs
  services/sharedKernel/src/FilterLists.SharedKernel.Logging/FilterLists.SharedKernel.Logging.csproj
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

docs(readme): 📝 add Application Insights to Privacy
  .github/README.md
Due: none
