Repository collinbarrett/FilterLists: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

Path conditions:
  azure-pipelines.agent.yaml: any of: azure-pipelines.agent.yaml, agent, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.agent.tests.yml
  azure-pipelines.api.yaml: any of: azure-pipelines.api.yaml, src/FilterLists.Api, src/FilterLists.Services, src/FilterLists.Data, tests/FilterLists.Services.Tests, tests/FilterLists.Data.Tests, .dockerignore, docker-compose.yml, docker-compose.prod.yml, docker-compose.data.tests.yml, docker-compose.services.tests.yml, data
  azure-pipelines.nginx.yaml: any of: azure-pipelines.nginx.yaml, ops/nginx, .dockerignore, docker-compose.yml, docker-compose.prod.yml
  azure-pipelines.web.yaml: any of: azure-pipelines.web.yaml, docker-compose.yml, docker-compose.prod.yml, web

fix(build): 🔨🐛 rollback compose version
  docker-compose.directory.migrations.tests.yml
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

fix(build): 🐛🔨 extract separate build docker-compose
  docker-compose.prod.build.yml
  docker-compose.prod.yml
  web/azure-pipelines.yaml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(build): 🔨 add build prod compose to dcproj
  docker-compose.dcproj
Due: none

fix(build): 🐛🔨 extract separate build docker-compose
  docker-compose.override.yml
  docker-compose.prod.build.yml
  docker-compose.yml
  services/directory/azure-pipelines.api.yaml
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

refactor(build): ♻🔨 ren directory .env file
  .env.directory
  docker-compose.dcproj
Due: none

refactor(build): ♻🔨 ren directory .env file
  services/directory/azure-pipelines.api.yaml
  web/azure-pipelines.yaml
Due: azure-pipelines.web.yaml

refactor(directory): ♻ exclude appsettings.json from image
  services/.dockerignore
  services/directory/azure-pipelines.api.yaml
  web/azure-pipelines.yaml
Due: azure-pipelines.web.yaml

fix(directory): 🐛 fix postgress connection string syntax
  .env.directory
  services/directory/src/FilterLists.Directory.Api/appsettings.Development.json
Due: none

fix(directory): 🐛 fix connection string env var config
  .env.directory
  docker-compose.yml
  reverse-proxy/conf.d.dev/filterlists.conf
  reverse-proxy/conf.d/filterlists.conf
  services/directory/src/FilterLists.Directory.Api/appsettings.Development.json
Due: azure-pipelines.agent.yaml, azure-pipelines.api.yaml, azure-pipelines.nginx.yaml, azure-pipelines.web.yaml

fix(directory): 🐛 fix port config
  reverse-proxy/conf.d.dev/filterlists.conf
  reverse-proxy/conf.d/filterlists.conf
Due: none

fix(reverse-proxy): 🐛 ren filterlists.conf -> default.conf
  reverse-proxy/conf.d.dev/default.conf
  reverse-proxy/conf.d/default.conf
Due: none

refactor(reverse-proxy): ♻🔨 shallow-fetch
  reverse-proxy/azure-pipelines.yaml
Due: none

fix(reverse-proxy): 🐛 fix emitted artifacts
  reverse-proxy/azure-pipelines.yaml
Due: none

feat(web): ✨ add TPL page to live site
  .github/README.md
  web/public/tpl.html
  web/src/App.tsx
Due: azure-pipelines.web.yaml

fix(web): 🐛 add text to TPL link
  web/src/App.tsx
Due: azure-pipelines.web.yaml

feat(web): ✨ add icon to TPL link
  web/src/App.tsx
Due: azure-pipelines.web.yaml

refactor(directory): ♻ deprecate url API versioning
  services/directory/src/FilterLists.Directory.Api/Controllers/LanguagesController.cs
  services/directory/src/FilterLists.Directory.Api/Controllers/LicensesController.cs
  services/directory/src/FilterLists.Directory.Api/Controllers/ListsController.cs
  services/directory/src/FilterLists.Directory.Api/Controllers/MaintainersController.cs
  services/directory/src/FilterLists.Directory.Api/Controllers/SoftwareController.cs
  services/directory/src/FilterLists.Directory.Api/Controllers/SyntaxesController.cs
  services/directory/src/FilterLists.Directory.Api/Controllers/TagsController.cs
  web/src/App.tsx
  web/src/hooks/useLanguages.tsx
  web/src/hooks/useLicenses.tsx
  web/src/hooks/useListDetails.tsx
  web/src/hooks/useLists.tsx
  web/src/hooks/useMaintainers.tsx
  web/src/hooks/useSoftware.tsx
  web/src/hooks/useSyntaxes.tsx
  web/src/hooks/useTags.tsx
Due: azure-pipelines.web.yaml

feat(web): ✨ redirect IE users to tpl.html
  web/public/index.html
Due: azure-pipelines.web.yaml

fix(directory): 🐛 fix trigger paths for API & Application projs
  services/directory/azure-pipelines.api.yaml
Due: none

docs(readme): 📃 update badges
  .github/README.md
Due: none

docs(readme): 📃 update Directory API badge url
  .github/README.md
Due: none

docs(readme): 📃 update README
  .github/README.md
Due: none

Delete CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: none

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

feat(directory): ✨ add add'l ABPindo mirror
  services/directory/data/FilterListViewUrl.json
  services/directory/data/lint.sh
Due: none

refactor(directory): ♻ sort FilterListViewUrl by id to make finding next id easier
  services/directory/data/lint.sh
Due: none

fix(directory): 🐛 fix migrations test db connection
  .env
  docker-compose.directory.migrations.tests.yml
  services/directory/azure-pipelines.migrate.yaml
  services/directory/tests/FilterLists.Directory.Infrastructure.Migrations.Tests/SeedQueryDbContextTest.cs
Due: none

refactor(directory): ♻⚡ try halving db init wait time in migrations test
  services/directory/tests/FilterLists.Directory.Infrastructure.Migrations.Tests/SeedQueryDbContextTest.cs
Due: none

refactor(directory): ♻ exclude FxCop Analyzers from EF-generated migrations proj
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
Due: none

refactor(directory): ♻ suppress CS8625 warning from EF-generated migrations proj
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/FilterLists.Directory.Infrastructure.Migrations.csproj
Due: none

refactor(directory): ♻⚡ try rm-ing db init wait time in migrations test
  services/directory/tests/FilterLists.Directory.Infrastructure.Migrations.Tests/SeedQueryDbContextTest.cs
Due: none

refactor(directory): ♻⚡ extract separate migrate dockerfile for perf
  docker-compose.directory.migrations.tests.yml
  services/directory/src/FilterLists.Directory.Api/Dockerfile.migrate
Due: none

fix(directory): 🐛 fix test results volume name
  services/directory/azure-pipelines.migrate.yaml
Due: none

refactor(data): lint PR #1943
  services/directory/data/FilterListViewUrl.json
Due: none

feat(data): migrate PR #1943
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200907224357_1943.Designer.cs
  services/directory/src/FilterLists.Directory.Infrastructure.Migrations/Migrations/20200907224357_1943.cs
Due: none
